[2015-12-12 00:02] orbeckst opened #1 "use YAML for config input file"
The ini format used for cfg files is limiting. Switch to yaml.

* [x] implement yaml parsing
* [x] provide translator script to rewrite old cfg files as yml

[2015-12-12 00:03] orbeckst opened #2 "make FEP schedules configurable on a per solvent basis"
Requires #1 to be implemented.

[2015-12-12 00:21] orbeckst opened #3 "update links in docs"
Change old SBCB links in setup.py and docs to GitHub.

[2015-12-12 00:24] orbeckst opened #4 "prepare a release 0.6.0"
* [x] check that everything installs cleanly (eg use a virtualenv)
* [x] change release to TRUE in `__init__.py`
* [x] make release on GitHub (but only once you're sure that the package works)

[2015-12-12 04:47] ianmkenney commented on #1
I am looking into ways to get yaml parsing. Do we want to write our own or use something like pyyaml.org?

[2015-12-12 05:02] orbeckst commented on #1
Never roll your own if you can use a tested library!

It needs to be something that can be installed via pip.

Maybe @dotsdl has any suggestions.

On 11 Dec, 2015, at 21:47, Ian Kenney wrote:

--
Oliver Beckstein * orbeckst@gmx.net
skype: orbeckst  * orbeckst@gmail.com

[2015-12-15 21:36] dotsdl commented on #1
Just use [PyYAML](https://pypi.python.org/pypi/PyYAML).

[2015-12-30 01:19] ianmkenney commented on #1
Closing.

[2015-12-30 16:14] orbeckst commented on #1
Is this fixed in a commit? If so, add to the commit comment `closes #1` and it will be automatically referenced here. Otherwise, give the SHA1 of the commit in your manual closing message.

[2015-12-31 02:27] ianmkenney commented on #1
closed with 13110a5f43fd21f35db10c5a736e99e385d3de67

[2015-12-31 02:27] ianmkenney commented on #1
Closing the reopened issue... sha1: 13110a5f43fd21f35db10c5a736e99e385d3de67

[2015-12-31 02:27] #1 closed

[2015-12-31 07:19] orbeckst opened #5 "move cfg 2 yaml conversion script"
Put the conversion script to the `script` directory and install it as `mdpow-cfg2yaml.py`.

(Note: possibly need to add some code to `setup.py` to make it install and package.)

[2015-12-31 20:39] #5 closed

[2016-01-11 22:21] ianmkenney commented on #2
@orbeckst  Is this to say that if no values are provided in the configuration file, we are to use the defaults in the Goct subclass?

[2016-01-11 22:29] orbeckst commented on #2
Yes, we should have some defaults and the Goct ones are as good as any (at least they work for octanol).

I would just call them "non-water solvent" defaults and it would be good to have them explicit in the config file somewhere.

Or perhaps better: Raise an error if no solvent parameters are given and we ship config files with explicit FEP schedules for water, octanol and cyclohexane.

[2016-01-16 15:30] iorga commented on #4
Please make an explicit dependency on PyYAML and check it during the install. After installing PyYAML manually, the install works fine, but the dependency on PyYAML is not checked:
[code]

[2016-01-17 05:32] orbeckst opened #6 "add pyyaml as dependency"
See @iorga's comment on #3. The python yaml package must be declared as a dependency in `setup.py`.

[2016-01-18 01:50] #6 closed

[2016-01-18 04:25] orbeckst opened #7 "setting mdrun.maxthreads to anything but None raises AttributeError"
In the new input file (yaml parser), the following raises `AttributeError`:
[code]

Traceback:

[code]

(This was also reported by @iorga .)

[2016-01-18 04:28] #7 closed

[2016-01-18 04:41] orbeckst opened #8 "user yml config overwrites ALL package defaults"
Before changing to the yml parser, one could leave values in the user `runinput.cfg` unset and the parser would use the values from the bundled `runinput.cfg`. (Technically, this was done by first reading the bundled file and then the user config.)

Now the behavior is to completely replace the package defaults, which also means that the user runinput _must_ be complete or the run will crash somew

[2016-01-18 04:55] orbeckst opened #9 "change config parser to use yml lists instead of getlist()"
One advantage of using yml is that it has rich data structures. We should make use of this and change the runinput config syntax to use
- deeper nestings (dict-like)
- lists

This will also make it easier to implement #2.

However, it will _break the input file format_ so we might want to wait with this until current projects are done...
## Examples
### Lists

[code]

to using [YAML lists](http://

[2016-01-18 05:02] orbeckst commented on #9
Similarly, we should use deeper nestings such as

[code]

[2016-01-18 05:35] orbeckst opened #10 "mdpow-ghyd fails with NameError"
Running `mdpow-ghy DIR` fails with
[code]

This seems to be an issue with GromacsWrapper (I am running the latest develop).

[2016-01-18 05:44] orbeckst opened #11 "scripts for analyzing cyclohexane simulations"
The current develop branch does not install a script similar to `mdpow-ghyd` that computes the solvation energy in cyclohexane.

(There's also no such script of octanol so we really should have a general `mdpow-solvationenergy --solvent=<SOLVENT>` script.)

[2016-01-18 06:13] orbeckst commented on #10
@ianmkenney did you notice this problem?

[2016-01-18 06:14] orbeckst commented on #4
Thanks @iorga --- the explicit yaml dependency was fixed with #6.

[2016-01-18 06:41] orbeckst opened #12 "mdpow-* script needed for analyzing BAR runs"
At the moment there is no script available to calculate free energies from BAR runs. This is essential. If we need to call `g_bar` then that's ok but it must be wrapped in a `mdpow-*` script and fit into the standard workflow.

What's a workaround for right now?

[2016-01-18 07:05] orbeckst commented on #12
Workaround: run `g_bar` and collect the *total* line:
[code]

For instance,
[code]
In GromacsWrapper:
[code]

[2016-01-18 07:20] ianmkenney commented on #10
I haven't seen this problem. I normally calculate the hydration free energy in an ipython session

[2016-01-18 07:25] orbeckst commented on #10
On 18 Jan, 2016, at 00:20, Ian Kenney wrote:

Interactive is not useful for the workflow. We need a script that dumps the results into a file as shown in the mdpow-ghyd script. See #11 and #12.

[2016-01-18 20:18] ianmkenney commented on #11
syntax:
   mdpow-solvationenergy --solvent=<supported solvent> <directory (i.e. SAMPL_XXX)>

closed with sha1: 4db62b5998bf0b3dbc8451f098bc2f90f88e513c

[2016-01-18 20:18] #11 closed

[2016-01-18 21:19] orbeckst commented on #12
With #11 we have a general script and we can focus on it but it still cannot handle BAR.

[2016-01-18 22:16] orbeckst commented on #10
The problem was due to a bug in the development version of GromacsWrapper and was just fixed in Becksteinlab/GromacsWrapper@c48f4d7eaa08688abae92655b19d15edeb86b79b

[2016-01-18 22:16] #10 closed

[2016-01-18 22:46] orbeckst opened #13 "mdpow-solvation: name default output file according to solvent"
The `mdpow-solvation` script should accept `auto` keywords for the energy and the plot file and name these files so that they are distinct for the different solvents, eg

* ~~~energy: solvationenergy_{solvent}.txt~~~ (no, just rename default file name)
* plot: dHdl_{solvent}.pdf

At the moment, they use the default for water (ghyd.txt) and always dVdl_{code}.pdf, which overwrites the same files wh

[2016-01-18 23:26] orbeckst commented on #12
@ianmkenney , the following is a summary of what we just discussed:

* `mdpow-solvation` should have an option `--method` that takes either "BAR" or "TI" and then uses the appropriate method to calculate the energies.
* I had the idea that the default should be whatever the runinput file says but the structure of the `mdpow-solvation` script is such that it does not look for runinput files but ins

[2016-01-18 23:54] orbeckst commented on #13
@ianmkenney --- I quickly did this. Please `pull` before doing more work on this script to minimize merging problems.

[2016-01-18 23:54] #13 closed

[2016-01-18 23:59] orbeckst opened #14 "deprecate mdpow-ghyd and mdpow-goct"
`mdpow-solvationenergy` from #11 incorporates the functionality of `mdpow-ghyd` and `mdpow-goct` and we also need to maintain a single script. Thus we should deprecate the specialized scripts and then remove them for the 0.7 release.
- [ ] remove scripts from docs
- [ ] add deprecation warnings and mention that they will be gone for 0.7. Warnings should say how to use `mdpow-solvationenergy` to ac

[2016-01-19 00:08] orbeckst opened #15 "remove "NPT correction" crud"
The correction for NVT to NPT was never properly implemented and all corresponding code removed a while ago. However, there's still some crud in the `Gsolv` class and the output files left. This should be removed.

* [ ] output files VdP column: remove (Note: *changes "gsolvation.txt" file format)
* [ ] logging output
* [ ] doc strings

[2016-01-19 00:38] iorga opened #16 "script mdpow-pcw needed for calculating cyclohexane/water partition coefficient"
The behavior should be similar with those of mdpow-pow. I have created an initial version by copying mdpow-pow and replacing `octanol` by `cyclohexane` and `oct` by `cyc` (Attention, we have Gcyclo.fep). Committed with SHA: 30ab593.

Currently it fails with the following error:
[code]

[2016-01-19 00:49] orbeckst commented on #16
Was about to do something similar, Will have a look.

Note that you should add your icsn.cnrs-gif.fr email to your GitHub account so that GitHun can identify @iorga as the author of the commit.

[2016-01-19 00:54] iorga commented on #16
I've just added the email address, thanks @orbeckst.

[2016-01-19 00:57] orbeckst commented on #12
@iorga : note that this is issue is not a show-stopper because we save *both TI and BAR* data in the Gromacs run and we can process the TI data as before... at least I think that's we have in the xvg files: column 0 is time, column 1 is dH/dlambda (which is the one we parse for TI) and subsequent columns are the values of H for the neighboring lambdas.

From *FEP/water/Coulomb/0500/md.xvg.bz2*:
[c

[2016-01-19 04:10] #15 closed

[2016-01-19 04:52] #16 closed

[2016-01-19 17:55] orbeckst opened #20 "wrong MDP file for VDW FEP"
MDPOW currently creates **wrong mdp files for the VDW part of the FEP**: The FEP lines read

[code]

but this is **wrong** for the decoupling step where we switch off LJ.

Instead it **must** be

[code]

(as also indicated in the comments in the file itself!)

**Any simulations ran with this buggy version are WRONG.** I recommend deleting the whole FEP part and running anew (technically, the Coulo

[2016-01-19 17:56] orbeckst commented on #20
@ianmkenney --- I am assigning this to you; please have a look asap. If I find the problem quickly I will notify you through the issue.

[2016-01-19 19:29] ianmkenney commented on #20
on it

[2016-01-20 01:15] orbeckst commented on #20
I think I introduced the bug when I "cleaned up" the parser...

[2016-01-20 06:38] orbeckst commented on #20
I think I fixed it with PR #21. I am currently re-running methane. I will close the issue when the results are ok. I can already say, though, that the MDP file looks correct.

[2016-01-20 08:07] orbeckst commented on #20
Comparison of the methane run to old runs gave the correct VDW contribution. Fixed!

[2016-01-20 08:07] #20 closed

[2016-01-20 08:07] orbeckst commented on #20
Thanks to @iorga for comparison data.

[2016-01-20 17:11] orbeckst opened #22 "remove output of "Helmholtz" free energy"
The code still refers to the calculated free energy a Helmholtz free energy (because we used to work in NVT); since we moved to NPT, we actually directly get the Gibbs free energy.

- [x] remove all user-visble output and logging that mentions Helmholtz free energy or rewrite so that it refers to Gibbs (to reduce user confusion...)
- [x] update docs
- [x] clean up code and variable names

[2016-01-20 17:13] orbeckst opened #23 "need tests"
In the light of issue #20 we really need tests. That's not easy but we need to get started.

An example is an initial test in `mdpow/tests/test_fep.py`.

[2016-01-20 17:14] orbeckst opened #24 "set up continuous integration on Travis CI"
With tests #23  we also want to do CI. See eg MDAnalysis for how to set it up.

[2016-01-20 20:31] iorga opened #25 "default names of output pdf files from mdpow-pow and mdpow-pcw"
Currently mdpow-pow and mdpow-pcw scripts generate pdf files with default names `dVdl_UNK.pdf` and `dVdl_UNK_water`, respectively, assuming that the ligand code is UNK. I suggest that these names should be `dVdl_UNK_pow.pdf`and `dVdl_UNK_pcw.pdf`, respectively.

[2016-01-20 20:51] iorga commented on #25
It seems that this issue was already solved by @orbeckst with the commit SHA: 62b01d651a353100e31be062285667683548f7c9.

Closing.

[2016-01-20 20:51] #25 closed

[2016-01-20 21:11] orbeckst commented on #25
Funny that I anticipated your issue. Of course now it makes me doubly happy that I fixed it :-)

[2016-01-20 21:12] orbeckst commented on #14
Changed title... we didn't have a `mdpow-goct`...

[2016-01-26 17:35] orbeckst opened #26 "implement MBAR"
Set up MDPOW to produce data for MBAR (basically, calculate _all_ windows as foreign lambdas) and then use [pymbar](https://github.com/choderalab/pymbar/) for analysis.

[2016-02-08 15:46] orbeckst opened #27 "Use NPT by default for FEP"
Switch mdp files for fep to use Parrinello-Rahman p coupling.

[2016-02-08 19:13] ianmkenney commented on #27
We also want the NPT to use Parrinello-Rahman as well, right? Instead of Berendsen...

[2016-02-08 19:15] orbeckst commented on #27
Yes, let's do that. the MD_relax still uses Berendsen.

[2016-02-08 19:39] ianmkenney commented on #27
I changed the MDPs in the templates directory to enable parrinello-rahman. SHA b3f09d2765a044db89f558e9c0be77d465cea14c

I will write these into tests

[2016-02-08 21:01] orbeckst commented on #27
Did yoo do a manual test?

[2016-02-08 21:18] ianmkenney commented on #27
Not yet, I can do it in about an hour

[2016-02-08 22:08] ianmkenney commented on #27
``You are generating velocities so I am assuming you are equilibrating a
  system. You are using Parrinello-Rahman pressure coupling, but this can
  be unstable for equilibration. If your system crashes, try equilibrating
  first with Berendsen pressure coupling. If you are not equilibrating the
  system, you can probably ignore this warning.
``

I forgot about this. Do we really want to use Parri

[2016-02-09 18:08] orbeckst commented on #27
@ianmkenney as we discussed: Try to make it use the previous information by providing `grompp` with
[code]
and *switch off generation of new velocities in the MDP file* --- do the latter as part of the script (by passing the correct mdp options to `gromacs.setup.MD_setup()` instead of changing it in the template file). It's safer to keep the template MDP in a state where you can take it for manual

[2016-02-09 18:09] orbeckst commented on #27
@iorga just so you know: @ianmkenney is working on the issue. The code is currently on the [feature-npt branch](https://github.com/Becksteinlab/MDPOW/tree/feature-npt).

(By mentioning you in this issue, you should now get updates.)

[2016-02-13 23:32] orbeckst commented on #27
@ianmkenney what needs to be done to make this work?

[2016-02-13 23:49] orbeckst commented on #27
@iorga : you can try this branch with
[code]
Then check that you are on the *feature-npt* branch
[code]

If you install the package you should then use the MDP file with NPT enabled. You might have to increase the `maxwarn` for the NPT step because `grompp` is probably going to complain that you shouldn't start Parrinello-Rahman without equilibration.

You can always go back with
[code]

and switc

[2016-02-14 00:17] iorga commented on #27
Thanks @orbeckst for the detailed protocol, it worked without problems. I will use the newly installed version to run the validation simulations for octanol in water and octanol (there are no experimental values for Gsolv in cyclohexane or logPcw).

[2016-03-09 20:00] ianmkenney opened #28 "Use Parrinello-Rahman pressure coupling in MD_NPT"
Change the pressure coupling algorithm in the MD_NPT protocol from Berendsen to Parrinello-Rahman. Requires:

- [x] Change Pcoupl from Berendsen to Parrinello-Rahman in NPT_opls.mdp
- [x] Pass '-t $previous_checkpoint' to GromacsWrapper via MDPOW setupMD function
- [x] Run benzene simulations

[2016-03-09 20:55] ianmkenney commented on #28
@orbeckst Should I just include a maxwarn in runinput.yaml to get around the warning about using parrinello-rahman for equilibration? I can just remove gen_vel from the mdp to resolve the error (which I don't think is something we should do). Any suggestions?

[2016-03-09 21:13] ianmkenney commented on #28
Well we do maxwarn: 1 in FEP, so I see no reason not to do it in MD_NPT. Nevermind then. I am running the benzene simulations now.

[2016-03-09 23:38] orbeckst commented on #28
Removing genvel is the correct solution because velocities should be taken from the cpt file.

If I misunderstood and we don't have a cpt file to start with then increase maxwarn.

--
Oliver Beckstein
email: orbeckst@gmail.com

Am Mar 9, 2016 um 13:55 schrieb Ian Kenney <notifications@github.com>:

[2016-03-15 15:37] orbeckst commented on #28
@iorga noticed that you also need to update `bar_opls.mdp`.

[2016-03-16 21:59] ianmkenney commented on #28
I have updated the bar_opls.mdp along with removing genvel in NPT_opls.mdp.

 Path to simulations: ` /nfs/homes/ikenney/Projects/solvation_free_energy/MDPOW/feature-NPT-testing/reproducibility `

I finished the three trial runs across each solvent. The results are below in kJ/mol. I will find the experimental values later today and post them in a comment.

| Run # | Cyclohexane     | Water

[2016-03-16 22:06] orbeckst commented on #28
That's benzene, right? How long were the FEP windows? Can you attach your `runinput.yml` to this issue?

[2016-03-16 22:09] orbeckst commented on #28
Please also manually check in the FEP mdp and log files that we are really using P-R during the simulations. Please report the average pressure +/- stdev for, say the Coulomb lambda=0, VDW lambda=0, 0.5, 1.0 windows. (Just grep from the summary in the log file.)

[2016-03-16 22:11] orbeckst commented on #28
This discussion really belongs to #27... am I right in that the FEP windows were also run with P-R?

[2016-03-16 23:30] ianmkenney commented on #28
One benzene ring is the solute for all of these simulations. The runinput can be found here [runinput.yaml.txt](https://github.com/Becksteinlab/MDPOW/files/176984/runinput.yaml.txt) (txt extension required by GitHub)

bar_opls.mdp was used for FEP windows; this mdp shows Pcoupl set to Parrinello-Rahman (other parameters needed for this are written in the git log). This is reflected in the log file

[2016-03-16 23:32] ianmkenney commented on #27
Cross posting from #28

One benzene ring is the solute for all of these simulations. The runinput can be found here runinput.yaml.txt (txt extension required by GitHub)

bar_opls.mdp was used for FEP windows; this mdp shows Pcoupl set to Parrinello-Rahman (other parameters needed for this are written in the git log). This is reflected in the log files from the windows themselves.

The pressures ca

[2016-03-17 00:13] orbeckst commented on #28
Thanks. As just discussed, even though the average pressures range from -10... 10 bar this is probably correct. The small system size makes it hard to get accurate pressures. (When we compared to the NVT runs, we saw values on the order of 100 bar.)

Perhaps we need to check bigger water boxes (d = 1.5 nm instead of 1 nm) to get better average pressures.

[2016-03-17 05:19] iorga commented on #28
Experimental solvation free energies for benzene (from MNSol-2012, in kcal/mol):
- water: -0.87
- octanol: -3.72
- cyclohexane: -4.19

[2016-03-18 10:35] iorga commented on #28
Thanks @ianmkenney and @orbeckst for all this information.This is also related to the issue #27.

I have ran a few tests with the new `bar_opls.mdp` file, below is the overview for benzene. The first two lines were calculated with the old version of `bar_opls.mdp`, so it's NVT for FEP (and clearly not reproducible). The last two lines used the new version of `bar_opls.mdp`, so it's NPT for FEP. Fo

[2016-03-23 17:07] orbeckst opened #30 "customize initial box dimensions"
Add a *distance* parameter to the config file to set the initial minimum distance between solute and rhombic dodecahedral box. (Override the defaults.)

[2016-03-23 17:26] #30 closed

[2016-03-23 17:32] orbeckst opened #33 "one-shot do-all workflow script"
We want a solution to run the _whole protocol_ (or workflow) with a single command.

Possible approaches
- daemon/nanny process
- chains of Gridengine jobs
- ...

[2016-04-04 23:58] #27 closed

[2016-04-04 23:58] #28 closed

[2016-04-05 00:09] orbeckst opened #34 "Should FEP windows do continuation from MD_NPT?"
At the moment (after #31), MD_NPT runs with Parrinello-Rahman barostat (and Langevin thermostat) but the FEP windows (with the same thermostat and barostat) regenerate velocities. We can consider using continuation runs by passing on checkpoint files with the `-t $CPT` flag.

Should we do this?

[2016-05-05 21:35] ianmkenney commented on #33
I think this would be handled best using Firework at this point. I will check how easily it can be implemented in the MDPOW scripts.

[2016-05-05 22:09] orbeckst commented on #33
+1 for [Fireworks](https://pythonhosted.org/FireWorks/)

[2016-05-05 22:25] dotsdl commented on #33
Happy to help. It could even be a single function the output of which could be a ``Workflow`` object that a user can feed to their launchpad of choice.

[2016-05-16 22:47] ianmkenney opened #35 "Dynamic version calculation breaks clean installation"
Dynamic calculation of the version in setup.py circumvents the installation of a dependency (pyyaml) and causes an import error on `pip install -e`. I removed the offending line and hard coded in the version into setup.py...

@orbeckst do you have any preferences on how I fix this? I see that [`__init__.py`](https://github.com/Becksteinlab/MDPOW/blob/develop/mdpow/__init__.py)  has `import config`

[2016-05-16 23:18] orbeckst commented on #35
Does dynamic version import work when you remove the `import config`?
If so, then that would be the preferred way.

[2016-05-16 23:20] orbeckst commented on #35
Btw, when you change these things, work on a branch instead of develop. In this way it is easier to keep the history clean, for instance, if you now go back to doing dynamic versioning in `setup.py`.

[2016-05-17 00:17] orbeckst opened #36 "should work with Gromacs 5.x"
MDPOW should be using Gromacs 5.1.x, which is now pretty stable. GromacsWrapper recently moved to Gromacs 5.x Becksteinlab/GromacsWrapper#26 so this should work with the latest GW.

[2016-05-17 00:18] orbeckst commented on #23
You're already making good progress!

[2016-05-18 23:32] ianmkenney opened #37 "Minimum distance default leads to instabilities"
I have been running some some manual and scripted solvation free energy calculations on benzene in water and have found that the default value of 1nm leads to many failed simulations.

`Fatal error: The box size in direction X (2.449481) times the triclinic skew factor (0.816497) is too small for a cut-off of 1.000000 with 2 domain decomposition cells, use 1 or more than 2 cells or increase the bo

[2016-05-19 04:40] ianmkenney commented on #37
@orbeckst Any thoughts?

[2016-05-19 05:06] orbeckst commented on #37
One can run on fewer cores or use particle decomposition (`-pd` in Gromacs 4.6.x – is this still supported in 5.x?). It's a general problem with small boxes.
Benzene is pretty small so that will lead to the smallest boxes.

However, we can easily increase the min distance to 1.2 nm – try that.

[2016-05-20 01:05] orbeckst opened #38 "choosing different water models"
We want to be able to select the **water model** as a configuration parameter. For example:

* [x] TIP4P (default for OPLS-AA, what we currently use)
* [ ] SPC
* [ ] SPC/E
* [ ] TIP4Pew (TIP4P for Ewald summation (like PME)) – not sure if available in Gromacs
* [ ] TIP3P (simple)
* [ ] TIP3P (CHARMM version)

[2016-05-20 01:06] orbeckst commented on #38
@iorga is also interested in this feature.

[2016-05-20 17:19] ianmkenney commented on #23
@orbeckst Does gromacswrapper have a way to suspend the script calling its functions until the process completes?

[2016-05-20 17:43] orbeckst commented on #23
Not sure what you mean. By default the python process waits until the gromacs tool is done and has returned its output.

Ultimately it uses subprocess.popen for calling gromacs tools.

--
Oliver Beckstein
email: orbeckst@gmail.com

Am May 20, 2016 um 10:19 schrieb Ian Kenney <notifications@github.com>:

[2016-05-20 17:50] ianmkenney commented on #23
Oh, well now that you say that, it seems I misinterpreted the output. Everything works as expected.

[2016-05-24 00:01] orbeckst commented on #24
Current hold up: GromacsWrapper does not find Gromacs.

TODO: Release new GromacsWrapper 0.5.0 that defaults to using Gromacs 5.x, see
Becksteinlab/GromacsWrapper#56

[2016-05-24 22:43] orbeckst commented on #24
GromacsWrapper 0.5.0 released and on PyPi – full steam ahead, @ianmkenney !

[2016-05-27 23:14] orbeckst commented on #24
This is working now. For the first time, the tests pass (at coverage 22%...).

[2016-05-27 23:14] #24 closed

[2016-05-27 23:14] orbeckst commented on #24
(We still have to figure out how to run Gromacs there but that's for another issue. CI is working – thanks @dotsdl  and @ianmkenney !)

[2016-05-27 23:16] orbeckst commented on #23
There are now minimal tests running  successfully on travis.

[2016-05-27 23:21] orbeckst opened #41 "install gromacs on travis"
CI on travis is now running (#24) but for integration tests (part of #23) we need a working [Gromacs](http://www.gromacs.org) installation.

We would like to test at least:

- [x] Gromacs 4.6.6
- [x] Gromacs 5.1.2

See also Becksteinlab/GromacsWrapper#39 – any solution from GromacsWrapper can be applied here.

[2016-05-28 00:34] orbeckst opened #42 "variable expansion in config file not working anymore"
It used to be possible to define a variable in the `DEFAULT` section and then use the variable in other sections (the ini parser was able to do it) but with the YAML format this does not work anymore. Thus, the following from the **template runinput.yml** is not working anymore:

[code]

[2016-05-29 07:05] #38 closed

[2016-05-29 07:11] orbeckst commented on #38
@iorga : if you use the latest development branch
[code]
then you can set the configuration variable `setup.watermodel` to any of the water models currently available in Gromacs with OPLS-AA. E.g., with TIP3P
[code]

If you don't have the `setup.watermodel` variable then it will simply default to `tip4p` (as before).

[2016-05-29 07:15] orbeckst commented on #37
You changed the default in d164fe2aa3b83e766b8e81e15b6f8a0363e6aae2.

[2016-05-29 07:16] orbeckst commented on #37
I cherry-picked d164fe2 onto develop as 03d50033daf467491b3c6daf5f2ea143754e3ed7.

[2016-05-29 07:53] #22 closed

[2016-05-29 08:06] #3 closed

[2016-05-29 08:09] iorga commented on #38
@orbeckst , @ianmkenney : Many thanks, I will try this ASAP, but tomorrow morning I'll go to Belgium for a european project meeting, so it will be probably more at the end of the week.

[2016-05-30 19:23] ianmkenney commented on #41
We currently have gromacs installed on travis, but it is through Acellera ( mentioned by @dotsdl ) . I am thinking it might just be easier to do a quick and dirty install with the shipped fft libraries. Is this the right way to go?

[2016-05-30 19:30] dotsdl commented on #41
@ianmkenney maybe, but good luck. I think the shortest path to victory here with gromacs 5.x at least is to use the gromacs build installed through conda (from the acellera channel). It should *just work*, in that with the conda env active the ``gmx`` binary should be in the path. Does GromacsWrapper not find it on Travis? I'm too busy to look myself now, but just wanted to chime in.

[2016-05-30 19:30] orbeckst commented on #41
Using acellera conda is fine for the time being. Are there any limitations that we face?

Almost certainly faster than compiling.

We should actually build our own condo gromacs packages… but I am happy to do this once everything else is working.

--
Oliver Beckstein * orbeckst@gmx.net
skype: orbeckst  * orbeckst@gmail.com

[2016-05-30 19:40] ianmkenney commented on #41
Alright, I was just wondering. I am probably just unfamiliar with Acellera. I will figure out how to get 4.6.6 using it.

[2016-05-30 19:42] orbeckst commented on #41
If it’s not in their channel then you cannot get it.

But it DOES exist as a Ubuntu package so just install it through travis. That’s even faster.

You just need some logic to do one or the other and then source the correct GMXRC. But all of it is possible with travis matrix builds. Have a look at the MDAnalysis .travis.yml file.

--
Oliver Beckstein * orbeckst@gmx.net
skype: orbeckst  * orbeckst@

[2016-05-30 22:48] ianmkenney commented on #41
it looks like the version of gromacs on the repos is 4.5.5 instead of 4.6.6. Is there a way to get a different version or do we just use the repo version (I take it that the changes between these versions will be very significant).

[2016-05-30 23:12] orbeckst commented on #41
4.5.5 is very old. I don’t think that this will work with MDPOW.

In Ubuntu it is possible to get packages from other repositories. Maybe there’s one available. Search?

Building conda packages looks more and more appealing every minute because then at least we know exactly what we have. The only issue is that you need to build it in a VM with pretty old Linux version (such as old Cent OS). I don’

[2016-05-30 23:27] orbeckst commented on #41
Maybe there are travis settings that allow you to use a newer [Ubuntu releases](https://wiki.ubuntu.com/Releases)
[code]

Check travis docs.

[2016-06-04 00:46] ianmkenney commented on #36
I cannot seem to get MDPOW to play well with gromacs 5.1.1. The process breaks when energy minimizing. The following command is invoked: `gmx mdrun_d ...` which I cannot get to work. I have tried compiling a double precision version of gromacs. But cannot get the command to work. I cannot find documentation on the command either... The command seems to be coming from GromacsWrapper. How should I g

[2016-06-04 01:40] orbeckst commented on #36
Can you inoke
[code]

You'd need to define an appropriate entry for the double precision binaries.

However, MDPOW should just fall back to standard `gmx mdrun`.

Post the whole stacktrace to see where things go wrong.

[2016-06-04 04:14] ianmkenney commented on #36
Here is the traceback

[code]

[2016-06-04 17:21] orbeckst commented on #36
Can you get gromacs.setup.energy_minimize() to run manually with Gromacs 5.1.x?

If not file an issue for GW.

--
Oliver Beckstein
email: orbeckst@gmail.com

Am Jun 3, 2016 um 21:14 schrieb Ian Kenney <notifications@github.com>:

[2016-06-06 23:27] orbeckst commented on #36
Becksteinlab/GromacsWrapper#65 with Becksteinlab/GromacsWrapper#64 and Becksteinlab/GromacsWrapper#63 first need to be fixed before we can make progress here.

[2016-06-06 23:28] orbeckst commented on #23
@ianmkenney focus on getting everything to work with Gromacs 4.6.6 and then we tackle Gromacs 5 #36.

[2016-06-06 23:30] orbeckst commented on #35
Fixed in b19bcc244014101dfb5ffef6f8c009198ae4d43e

[2016-06-06 23:30] #35 closed

[2016-06-06 23:33] orbeckst commented on #36
In principle, MDPOW should "just work"™ depending on what GromacsWrapper provides... so change of issue title.

[2016-06-07 00:31] orbeckst commented on #34
@ianmkenney how easy is it to continue FEP windows from the CPT of the NPT equilibration?

[2016-06-07 00:33] orbeckst commented on #8
@ianmkenney what happens if any values are *not* set in the input yml file? Is an error raised or are some default values chosen? If so, where do the defaults come from.

We should have a test for whatever behavior we consider the correct one.

[2016-06-07 00:40] orbeckst commented on #33
The `mdpow-*` scripts
- `mdpow-equilibrium`
- `mdpow-fep`

are only thin option processors and use the functions in `mdpow.run`. They should be easily wrappable or at least it should be easily possible to decompose these functions into steps in a FW workflow.

The analysis scripts
- `mdpow-solvationenergy`
- `mdpow-pcw`
- `mdpow-pow`

should be refactored so that their analysis code also resides i

[2016-06-07 20:07] ianmkenney commented on #34
In principle, this should be possible. I added the functionality in the
mdpow.equil.Simulation class. I can give it a try and let you know how
it goes.

On 06/06/2016 05:31 PM, Oliver Beckstein wrote:

[2016-06-08 04:45] orbeckst commented on #34
Ok, try it.

[2016-06-10 02:46] orbeckst commented on #36
I fixed the issue with `energy_minimize()` Becksteinlab/GromacsWrapper#63. Can you try with the latest GW develop?

[2016-06-27 23:24] iorga commented on #36
@orbeckst, @ianmkenney :

I am trying to start a simulation with the tip5p water. In my PATH there is only Gromacs 4.6 and with the latest develop version I've got an error, apparently MDPOW is using the Gromacs 5.x syntax now. All other sims were done with Gromacs 4.6.5, so it will be good to use the same version till the end. Can you implement a way allowing to choose between Gromacs 4.x and 5.x

[2016-06-27 23:43] orbeckst commented on #36
Hm, ok, will look into it. Can you check your `.gromacswrapper.cfg` and make sure that it contains Gromacs 4.6.x commands?

[2016-06-27 23:59] iorga commented on #36
I don't have a `.gromacswrapper.cfg`, only the `.gromacswrapper` folder with the qscripts.

[2016-06-28 00:51] orbeckst commented on #36
Then you will need one: I included a template 4.6.x file [gromacswrapper_465.cfg](https://raw.githubusercontent.com/Becksteinlab/GromacsWrapper/develop/gromacs/templates/gromacswrapper_465.cfg) in the repository: You can "install" it with
[code]

This is required because in the absence of a cfg file, GromacsWrapper 0.5.x is defaulting to Gromacs 5.

[2016-06-28 08:27] iorga commented on #36
Thanks @orbeckst, this effectively restores the 4.6.x syntax. But then, I get another error, which is the same for the 5 types of water (see below). The last line of the `boxed.gro` file is
[code]
whereas before it used to be
[code]

I could find that it comes from the missing parameter `-d 1.0` at the end of the editconf command. Could you please restore it?

I also saw that the default value for

[2016-06-28 20:00] orbeckst commented on #36
Should be fixed in b0e3b1895b4c889e3b3d536fc458a8ab88a76e08 – sorry. Not sure why I didn't catch it before when I ran tests for the new water models. I just tried benzene with TIP4P and TIP5P and it seems to work.

I think @ianmkenney and I thought about increasing the water distance to 1.2 nm to avoid cutoff problems in very small boxes but I set it back to the value of 1.0 nm that we used for SA

[2016-06-28 20:18] iorga commented on #36
Thanks @orbeckst, it works now.

[2016-06-29 22:58] orbeckst commented on #4
@Becksteinlab/mdpow ,   I am going to make a release today or tomorrow. Everything seems to be working and so we have a good point for a release.

[2016-06-29 23:36] orbeckst commented on #37
For the 0.6.0 release #4  I reverted to 1.0 nm  (see b0e3b1895b4c889e3b3d536fc458a8ab88a76e08). @iorga requested this change for consistency with the SAMPL5 runs.

After the release we should revisit this issue.

[2016-06-29 23:43] orbeckst commented on #8
@ianmkenney / @iorga – any opinions?

[2016-06-30 00:09] orbeckst commented on #4
Just released 0.6.0.

[2016-06-30 00:09] #4 closed

[2016-07-10 00:46] ianmkenney commented on #41
@orbeckst it looks like in https://travis-ci.org/Becksteinlab/MDPOW/builds/143638576 we are getting an error with a pip install for `recsql`. This comes from creating the conda environment defined in `environment.yml`. We didn't have this issue before did we?

[2016-07-10 00:56] ianmkenney commented on #41
Funny enough, I was able to pip install in the continuumio/miniconda docker container. The only difference I see is that travis downloaded a tarball while the container download a `.whl`. Does this different behavior make sense to you?

[2016-07-10 01:06] ianmkenney commented on #41
Nevermind, it worked on my second push... it downloaded the .whl on travis this time and worked.

[2016-07-26 06:19] orbeckst opened #46 "add M24 water model for testing"
# Aim
For _testing purposes_ we should add the *M24* water model, introduced by Shirts and Pande<sup>1</sup>.

# Background
Shirts<sup>1</sup> introduced a range of proof-of-concept TIP3P-like water models. He changed the epsilon and sigma parameters and obtained much better hydration free energies for amino acid sidechain analogs than with any of the regular models. The one termed M24 performed b

[2016-07-29 02:40] ianmkenney commented on #41
Currently in travis we are creating a single env called `mdpow_test`. Do we want to have both versions of gromacs installed and used under this env? I assume we are planning to source one and then the other for testing.

[2016-07-29 05:57] orbeckst commented on #41
Separately, not in the same env but as a test matrix.

--
Oliver Beckstein
email: orbeckst@gmail.com

[2016-08-02 23:59] orbeckst commented on #41
Closed with PR #44.

[2016-08-02 23:59] #41 closed

[2016-08-05 21:39] ianmkenney opened #47 "Improve solvation testing"
While the tests currently do what we want, it would be a good idea to check more than just the fact that the solvation process has no errors.

What should be checked:
   - [ ] Paths to solvated structures make sense
   - [ ] The correct solvent is actually applied
   - [ ] Multiple solvated structures can coexist

[2016-08-05 22:24] ianmkenney opened #48 "Packaging files for use in tests"
Need an efficient way of packaging states of an MDPOW workflow to be used as intermediate points in testing.

For instance, if testing the the MD_NPT protocol, one would need to start just after the emin protocol. However, we need to keep all tests independent of each other; using the files from previous tests break that rule. Is the following setup really the best:
[code]

This also raises the qu

[2016-08-05 22:25] ianmkenney commented on #48
@orbeckst Do you know of any solutions or should we just bite the bullet?

[2016-08-05 22:44] orbeckst commented on #48
Use short trajectories. Maybe tar/bzip the tree in the state that you need and then unpack for testing?

I don't see a very nice option.

But remember that you only have to run enough code to test that it works – it does not have to produce converged results.

[2016-08-07 18:10] orbeckst opened #49 "coverage should not contain the tests"
PR #39 adds testing with Gromacs 4 and Gromacs 5 (yay!). However, coverage also analyses coverage of the tests themselves. That's not helpful. All tests ought to be excluded from coverage reporting.

There should be some simple settings for `coverage` in the travis.yml file that exclude tests.

[2016-08-07 18:19] orbeckst commented on #49
I was not able to find anything in the rather sparse [docs for pytest-cov](http://pytest-cov.readthedocs.io/en/latest/) (which we are using) or the related [coverage docs](https://coverage.readthedocs.io/en/latest/index.html).

@dotsdl any ideas?

For example output see, for instance, https://travis-ci.org/Becksteinlab/MDPOW/jobs/150184380.

[2016-08-07 18:30] orbeckst commented on #48
As we discussed, perhaps the best way to build snapshots is to create a clean working environment and run the desired simulation.

- version control each step (keep trajectories short); commit/tag each step
- write "manifest files" (yml) that describe which files to pick in order to create a given state

[2016-08-07 20:08] iorga commented on #37
We need to run the simulations using the M24 modification of TIP3P water (#46) with the same parameters as before, then we can revert the min distance to 1.2 nm.

[2016-08-07 22:32] orbeckst commented on #37
Ok.

I think there's a way to set the distance in the cfg file but for right now we'll leave the default.

--
Oliver Beckstein * orbeckst@gmx.net
skype: orbeckst  * orbeckst@gmail.com

[2016-08-08 23:50] #23 closed

[2016-08-08 23:50] ianmkenney opened #50 "Have travis use container based infrastructure"
Currently `sudo: false` cannot work due to the use of `apt-get` to install libgomp1. Find solution to this in order to use container based infrastructure which will increase testing speed.

[2016-08-09 00:01] ianmkenney opened #51 "Have paths in test files use os.path.join()"
read subject

and comment steps

[2016-08-09 00:34] orbeckst commented on #47
Was this part of the PR #39 ?

[2016-08-09 00:37] orbeckst commented on #36
The tests pass with Gromacs 4 and 5 but coverage is still low so I leave it open until we are confident that we get sensible results with either one.

[2016-08-09 21:34] ianmkenney commented on #47
This has not been included yet. I wanted to expand these tests after covering a few of the other steps in our workflow.

[2016-08-12 05:23] iorga commented on #46
Without noticing the header of this issue (thanks @orbeckst for the detailed description) I did the same modifications to my local install of Gromacs.

- modified the `watermodels.dat`:
[code]
- added the corresponding `tip3p-m24.itp` file, containing the modified atom type
[code]

However, when executing the command `gmx pdb2gmx -f spc900.gro -o tip3p-m24-900.gro -p tip3p-m24-900.top -ff oplsaa -

[2016-08-12 05:45] orbeckst commented on #46
According to the Gromacs 5.1.2 code in `pdb2top.h` (and `pdb2top.cpp`), it should be possible to select the water model via `watermodels.dat`:
[code]

It definitely reads the `"watermodels.dat"` file.

Not sure why it's not working for you.

[2016-08-12 05:57] orbeckst commented on #46
Actually, the `choose_watermodel()` function is not really important: it just makes the model available for manual selection (now reading `pdb2gmx.c` more carefully...).

Resname selection
- *watermodelname* contains "4P" or "4p": then the resname will be HO4
- *watermodelname* contains  "5P" or "5p": then the resname will be HO5
- otherwise resname is "HOH"

ITP file
- looks for "*watermodelname*

[2016-08-12 05:59] orbeckst commented on #46
@iorga I think the problem in your https://github.com/Becksteinlab/MDPOW/issues/46#issuecomment-239363478 is rather that you have a dash in your name and the stupid Gromacs commandline parser cannot deal with it. Try replacing with an underscore... or better, just name the water model "m24" (my preferred solution).

[2016-08-12 06:42] iorga commented on #46
No, I've tried this just after posting the comment, by removing the dash in the .itp file name and in 'watermodels.dat' ("tip3pm24") and the result was the same. I will keep trying...

[2016-08-12 08:49] orbeckst commented on #46
Weird. Will need to look at the Gromacs code.

Btw, I don't think that MDPOW actually uses pdb2gmx anywhere so it shouldn't be a problem for us.

--
Oliver Beckstein * orbeckst@gmx.net
skype: orbeckst  * orbeckst@gmail.com

[2016-08-12 14:01] iorga commented on #46
I have also tried with `-water tip4pew`, which is natively in `watermodels.dat` and I've got the same error.

When added the `m24` option in `share/top/oplsaa.ff/watermodels.dat`, `src/programs/completion/gmx-completion.bash` and `src/gromacs/gmxpreprocess/pdb2gmx.c`, and m24.itp in `share/gromacs/top/oplsaa.ff/` then recompiled Gromacs, the command `gmx pdb2gmx -water m24` works without error, as

[2016-08-12 20:21] iorga commented on #46
I made the modifications of the code on a new branch (TIP3P-M24) and committed (aeda040). I am waiting for the M24 sims of the dataset92 to be finished before to install the new version and test these modifications.

[2016-08-12 20:30] orbeckst commented on #46
You can make it a pull request and then it can be easily evaluated and amended, if necessary.

[Switch to the new TIP3P-M24 branch](https://github.com/Becksteinlab/MDPOW/tree/TIP3P-M24), then select [New pull request](https://github.com/Becksteinlab/MDPOW/pull/new/TIP3P-M24) (against ''develop''), add some explanations, reference this issue #46, and submit.

[2016-08-12 23:17] #50 closed

[2016-08-13 08:33] iorga commented on #46
It seems that we were too quick in adding the m24 water without a proper validation in MDPOW. The m24.itp file works for me with pdb2gmx, but in MDPOW it gives an error about the order of atomtypes. Probably the order of include statements in MDPOW's .top file is not the same. I will check.

On the other hand, the simulations that were intended to be with m24 are in reality with tip3p. When I star

[2016-08-13 13:29] iorga commented on #46
The issue was fixed by inverting the order of includes for compound and solvent .itp files in the `system.top` template file. Now it is confirmed that the m24 water model works with the compounds from the dataset92.

[2016-08-13 18:00] iorga commented on #46
**Initial validation of the TIP3P-M24 water model (trying to reproduce the density values reported by Shirts and Pande)**

- box of 900 TIP3P water molecules
[code]
The box dimensions are the smallest that can accommodate 900 water molecules. The initial density is about 0.9 g/ml, which converges quickly (7 ps) to about 0.98 g/ml.

The average density for the whole simulation is:
[code]

And for t

[2016-08-13 18:45] iorga commented on #46
Issue #46 solved via 1af086e and closed.

[2016-08-13 22:12] orbeckst commented on #46
See my comments:
* https://github.com/Becksteinlab/MDPOW/pull/54#issuecomment-239644035
* https://github.com/Becksteinlab/MDPOW/pull/52#discussion_r74692799
We should move `[ atomtypes ]` section out of the `m24.itp` files and integrate properly in the forcefield. Then leave the canonical "compound / water model / ions" order in the template file.

[2016-08-13 22:13] orbeckst commented on #46
Basically, add a new atomtype for the oxygen, as in my original check list at the top of this issue.

[2016-08-13 22:14] orbeckst commented on #49
@ianmkenney can you please find out how to fix coverage so that they do not contain the tests?

[2016-08-13 22:19] ianmkenney commented on #49
Sure thing

[2016-08-14 00:42] dotsdl commented on #49
See how we do this for `datreant.core`: https://github.com/datreant/datreant.core/blob/develop/.coveragerc

[2016-08-14 05:29] iorga commented on #46
I made the changes as suggested (see commit d42b26a). I will wait until I can validate this new modification on at least one compound, before making a new pull request.

[2016-08-14 12:19] iorga commented on #46
I can confirm now that the new modification works well in a standard simulation with the m24 water.

@orbeckst, we can merge this in the develop branch whenever you want.

[2016-08-14 17:03] ianmkenney commented on #49
For future reference: http://coverage.readthedocs.io/en/coverage-4.1/config.html

[2016-08-14 17:16] ianmkenney commented on #49
@orbeckst I have a new PR for codecov. My addition of `.coveragerc` (thanks @dotsdl ) fixed the problem. Some of the options listed in the docs might be interesting to add though, so I will leave it open for another few days while I look at our options.

[2016-08-15 03:59] orbeckst commented on #46
Which PR is this? Just assign the PR to me, I review, and then merge.

[2016-08-15 04:04] #49 closed

[2016-08-15 05:23] iorga commented on #46
I will wait for PR #56 (revert previous changes) to be completed before introducing a new pull request with the latest changes from here (atom name opls_111_m24).

[2016-08-15 18:11] #46 closed

[2016-08-28 05:35] ianmkenney commented on #36
@orbeckst I am running into problems getting 5.1.2 to pass tests while 4.6.7 seems fine. I suspect that it's a gromacs wrapper issue rather than an MDPOW issue. https://travis-ci.org/Becksteinlab/MDPOW/builds/155678112.

Do you see any reason why I should exclude 5.1.2 from the tests while developing them? Since MDPOW should be GMX version agnostic, I see no theoretical downsides to doing this. I

[2016-08-28 18:19] orbeckst commented on #36
Only one test failed but I don't see why. Can you run the test manually?

Because everything else works, it seems that in principle Gromacs 4 and Gromacs 5 should work. If everything with 5 failed I'd say put 5 aside for the time being and make it work later. However, it looks like something small so you'd gain much more by understanding *now* what the problem with 5 is and then continue writing t

[2016-08-28 22:02] ianmkenney commented on #36
I was having trouble finding the error using the tests directly. I decided to run the equilibrium script directly. This is what I got. I am using the gromacs file packaged with gromacswrapper. The output from the tests was the same except for the traceback.

[code]

[2016-08-29 04:44] ianmkenney opened #59 "Simulations use absolute paths for file paths"
@orbeckst currently the simulation files are using absolute paths to identify structure files. While writing tests (pr #58 ) I have been having trouble dealing with the previously generated files having paths related to where they were created; the tests will fail even though all required files are there. I know of the rebuild simulation script, but is that the only solution to this problem? It se

[2016-08-29 19:31] orbeckst commented on #59
Abs paths were considered the safer option at the time. Wit relative paths you rely on the pickle file always being in the same place and all the directory hopping seemed more dangerous.

But you could probably make relative paths work too, especially given that we specify everything in the cfg file as relative paths.

I would start getting the tests to run with abspaths and abusing the rebuild sc

[2016-08-29 19:33] orbeckst commented on #36
That's a GW bug. Somehow it treats a single string as a list. Probably should be wrapped in util.asiterable().

--
Oliver Beckstein
email: orbeckst@gmail.com

[2016-09-05 20:24] ianmkenney opened #60 "Remove MDrunnerSimple from fep.py"
The current implementation of MDrunnerSimple really doesn't add very much to what is provided with `gromacs.run.MDrunner`.

[code]
- [x] remove `MDrunnerSimple` from MDPOW
- [x] switch all instantiations of `MDrunnerSimple` to instantiations of `gromacs.run.MDrunner`

[2016-09-05 23:13] orbeckst commented on #48
Done with `manifest`.

[2016-09-05 23:13] #48 closed

[2016-09-05 23:22] orbeckst commented on #36
@ianmkenney please raise an issue in the GW tracker and reference `https://github.com/Becksteinlab/MDPOW/issues/36#issuecomment-243002309`.

[2016-09-06 23:46] orbeckst opened #61 "use python-quantities"
At the moment we use GromacsWrapper's [numkit.observables](http://gromacswrapper.readthedocs.io/en/latest/numkit/observables.html) to represent results, mainly to do error propagation. However, there's the mature https://github.com/python-quantities/python-quantities (which even comes with proper unit support) and we should replace the GW solution.

[2016-09-09 06:56] orbeckst commented on #36
@ianmkenney can you check with latest GW develop? I fixed Becksteinlab/GromacsWrapper#85.

[2016-09-09 09:38] orbeckst commented on #36
Actually, try with Gromacs 0.6.0, just released.

(The tests should not require any `.gromacswrapper.cfg` anymore, just sourcing `GMXRC` will be sufficient to load either Gromacs 4 or Gromacs 5.)

[2016-09-11 04:17] orbeckst commented on #59
I think for right now we left it at absolute paths but tests use `simulation.make_paths_relative()`.

Please re-open if necessary.

[2016-09-11 04:17] #59 closed

[2016-09-11 04:48] #51 closed

[2016-09-11 04:50] orbeckst opened #62 "test failures due to unknown `-doc` argument"
Recently a few tests started failing. Probably because they now use GromacsWrapper 0.6.0 and *perhaps* something changed there.

Need to check.

[code]

[2016-09-11 04:55] ianmkenney commented on #62
I believe that everything was passing on the Manifest PR. Not sure where the `-doc`  is coming from either.

[2016-09-11 19:10] orbeckst commented on #62
Yes, it passed on the PR but that used GW 0.5.1.

--
Oliver Beckstein
email: orbeckst@gmail.com

[2016-09-13 08:47] orbeckst commented on #62
This is due to Becksteinlab/GromacsWrapper#89; should be ok once that is closed.

[2016-09-14 19:30] ianmkenney opened #63 "manifest_parser name change will break test functionality"
manifest_parser name change will break test functionality. Preemptive changes should include:
- [ ] change all imports (i.e. `import manifest` --> `import pybol` )
- [ ] change all instantiations of Manifest objects (i.e. `m = manifest.Manifest()` --> `m = pybol.Manifest()`
- [ ] change how travis installs pybol

[2016-09-17 01:26] orbeckst commented on #62
GromacsWrapper 0.6.1 is out. Please re-run and check that things are working now.

[2016-09-17 01:27] orbeckst commented on #62
I just restarted build [travis MDPOW #143](https://travis-ci.org/Becksteinlab/MDPOW/builds/159978938).

[2016-09-17 04:40] orbeckst commented on #62
Passes.

[2016-09-17 04:40] #62 closed

[2016-09-17 04:41] orbeckst commented on #63
Is this fixed?

[2016-09-17 16:01] orbeckst opened #64 "local test fails due to missing manifest/PyBOL"
At the moment I cannot test locally out of the box.

I did a

[code]

but because this does not install [PyBOL](https://github.com/ianmkenney/PyBOL) (manifest) running the tests locally fails. (See below)
- [x] make PyBOL pip-installable
- [x] add PyBOL to the requirements for tests in `setup.py` (something like `tests_require = [ ... ]`)

[code]

[2016-09-17 16:01] orbeckst commented on #64
See also #63.

[2016-09-17 16:14] orbeckst commented on #36
See PR #65 for test results. I'll do the discussion on the PR.

[2016-09-17 19:06] ianmkenney commented on #63
It shouldn't be a problem just yet, I have to change them both at the
same time basically. That will be happening this weekend.

On 09/16/2016 09:41 PM, Oliver Beckstein wrote:

[2016-09-17 19:07] ianmkenney commented on #63
scratch that, I see that there is a problem, I will look into it

On 09/16/2016 09:41 PM, Oliver Beckstein wrote:

[2016-09-17 21:17] ianmkenney commented on #64
I fixed it for travis, but this will still be a problem for local tests until the PyPi package is built; I'll work on that now.

[2016-09-19 22:31] orbeckst opened #66 "update tests: py.test 4.0 will not have yield anymore"
/home/travis/build/Becksteinlab/MDPOW/mdpow/tests/test_forcefields.py yield tests are deprecated, and scheduled to be removed in pytest 4.0

[2016-09-26 20:07] iorga opened #68 "Ligand code containing only digits and starting with 0 incorrectly recognized as number"
When the ligand code contains only digits and starts with 0 (`001` in the following example), it is incorrectly recognized as number and the subsequent steps fail:

[code]

The content of the .yml file is the following:

[code]

[2016-09-27 05:05] orbeckst commented on #68
@ianmkenney is there a way to fix it or is the only way to put quotes around strings?

If so then this needs to be documented. In fact, the template files should then come with quotes around all strings.

[2016-09-29 18:39] ianmkenney commented on #68
There doesn't seem to be a way around putting the quotes around the strings with the YAML file. I can take care of cleaning up the templates.

[2016-09-29 18:44] orbeckst commented on #68
Ok, the we need to document and make all the templates obvious.

--
Oliver Beckstein * orbeckst@gmx.net
skype: orbeckst  * orbeckst@gmail.com

[2016-10-18 00:38] orbeckst commented on #64
Was this fixed with PR #67 ?

[2016-10-18 00:46] orbeckst commented on #64
If I
[code]
then I can run the tests
[code]
and it fails with
[code]

Adding `pybol` to `test_requires` in `setup.py` does not automatically download it but I think that's ok.

[2016-10-18 00:51] orbeckst commented on #63
Is this fixed with PR #67 ?

[2016-11-07 21:32] ianmkenney opened #70 "Add EDR/(Compressed XVG) switch for dH data output"
Add an option in the `runinput.yml` file for the user to specify how they would like energy data to be written out. The options should be between zipped `xvg` files and an `edr` file

[2016-11-08 16:29] ianmkenney opened #71 "MDP errors with gromacs 5.X.X"
In gromacs 4.X.X `mdp`s using a non-integer value for sc-power could generate a `tpr`. This is not the case with gromacs 5.X.X. During window setup, a float value is substituted in at some level. This needs to be an integer.

[code]

[2016-11-10 18:23] ianmkenney opened #74 "mdpow-equilibrium generate template broken"
Using the `mdpow-equilibrium --get-template` script does not return template.

[code]

[2016-11-10 19:32] ianmkenney commented on #70
@orbeckst Do we want the default to be compressed XVGs or EDRs? I assume that EDR should be default, since it contains information that applies to all methods, while XVGs only apply to BAR and TI.

[2016-11-10 20:10] orbeckst commented on #70
EDR as default. We will also want a helper script that can generate compressed XVGs from the EDR so that we are backwards compatible.

We will either write EDR or XVG but not both.

--
Oliver Beckstein
email: orbeckst@gmail.com

[2016-11-10 23:24] orbeckst commented on #74
How about we make it a separate script and get rid of `--get-template` — that's confusing anyway.

[2016-11-11 00:48] #71 closed

[2016-11-14 05:47] orbeckst commented on #63
ping @ianmkenney – please review this issue and close if solved otherwise say what needs to be done.

[2016-11-14 06:25] #68 closed

[2016-11-14 07:09] orbeckst commented on #64
I fixed this in 321527f79fdb0553872097484da0007314b7d57a by using https://pypi.python.org/pypi/pytest-runner.

One can now do
[code]
to run the tests with `py.test`.

[2016-11-14 07:09] #64 closed

[2016-11-14 17:08] ianmkenney commented on #70
@orbeckst it seems that EDRs were produced by default alongside the bzipped xvgs the whole time. You can see that here:
[code]
According to the log:
[code]
This also shows up in previous runs:
[code]
Same with its log:
[code]

Is there a way to omit the creation of `edr` files in `grompp`?

[2016-11-14 17:16] ianmkenney commented on #70
It looks like we can use the `separate-dhdl-file` mdp option, which should simplify a lot. See the [4.6.6 manual](http://manual.gromacs.org/archive/4.6.6/online/mdp_opt.html) as well as the [most recent manual](http://manual.gromacs.org/online/mdp_opt.html). This seems like it's the only option that needs to be considered. Thoughts?

[2016-11-14 17:21] orbeckst commented on #70
I am not sure that these EDR files actually contain the data we need unless you set the right flags.

I suppose you can set the output frequency in the MDP file to zero.

[2016-11-15 00:23] orbeckst commented on #36
The tests pass locally with 5.1.2 but on Travis the `mdpow/tests/test_equilibration_script.py ` appears to hang when it does not produce any output after 10 min it gets killed by Travis. The same job finishes in 2:30min under Gromacs 4.6.6 so I suppose something weird happens with `gmx mdrun`.

Possibly run the tests with more verbose py.test/travis output?

Can you please have a look @ianmkenney

[2016-11-15 00:27] orbeckst commented on #70
From recent discussion: also need to set in [mdp](http://manual.gromacs.org/online/mdp_opt.html)
[code]

@rhheilma – please note that you also need the `calc-lambda-neighbors  = -1` for manual tests with MBAR #26.

[2016-11-15 00:29] orbeckst commented on #60
(This is needed to make it work with Gromacs 5.1.x #36.)

[2017-01-03 21:18] dotsdl opened #76 "MDP should use `init_lambda_state` and full vector of `fep_lambdas`"
Currently, the MDP files generated by MDPOW use the `init_lambda` MDP option to specify the value of lambda for the window, and other windows in the run may or may not be listed in the `fep_lambdas` vector. This presents a problem with the resulting EDR files if estimators like `MBAR` are to be used, since only values of `DH_lambda` are recorded for the windows listed in `fep_lambdas`.

Instead of

[2017-01-04 21:09] ianmkenney commented on #36
@orbeckst I ran the tests on travis using `py.test -s mdpow mdpow/tests`. This disables capturing from pytest. As previously stated, the tests hang on `mdpow/tests/test_equilibration_script.py`. What's interesting is that it hangs on the *second* `gmx mdrun` invocation. In response to this, I decided to run the tests using our new gromacs-2016 conda package; this yields the [exact same behavior](h

[2017-01-04 22:45] orbeckst commented on #36
If your hypothesis is that the time taken to do the energy minimization is the problem then change the test so that the energy minimization finishes in a few seconds. Decrease the maximum number of steps in the MDP file.

Initially, you don't even need to adapt the tests – just seeing it not hang and then gloriously fail would be a success.

[2017-01-09 17:03] orbeckst commented on #76
@ianmkenney please work on this blocking issue so that @rhheilma can continue work on #26.

[2017-01-09 17:04] orbeckst commented on #63
ping @ianmkenney

[2017-01-09 17:06] orbeckst commented on #60
I think this was done in 9fb7a8aa5368c8f715a508f2917d2297539f22f2 but commit did not auto-close this issue.

[2017-01-09 17:06] #60 closed

[2017-01-11 00:08] orbeckst commented on #63
ping @ianmkenney – please review this issue and close if solved otherwise say what needs to be done.

[2017-01-11 00:09] orbeckst commented on #76
This will be fixed as part of #75 but tests for actual FEP calculations are still missing, see https://github.com/Becksteinlab/MDPOW/pull/75#issuecomment-271737098.

[2017-01-11 00:13] orbeckst commented on #76
@dotsdl / @ianmkenney : does `fep_lambdas` work with the [MDP FEP options](http://manual.gromacs.org/online/mdp_opt.html#free) that we are using for solvation free energy calculations:
- `couple-moltype`
- `couple-lambda0`
- `couple-lambda1`
- `couple-intramol`

[2017-01-11 00:16] #70 closed

[2017-01-11 00:17] orbeckst commented on #76
I merged PR #75 but develop needs to be tested now!

[2017-01-11 15:40] orbeckst commented on #36
@ianmkenney did fixing the number of threads (`-nt 2`) improve things – given that Gromacs 5.x/2016 apparently used 32 threads on travis and Gromacs 4.6.x still used 12 (even though the [Travis Docker container should only provide 2 virtual cores](https://blog.travis-ci.com/2014-12-17-faster-builds-with-container-based-infrastructure/))?

[2017-01-18 23:00] rhheilma opened #78 "fep.py: array comparison fails for a list of lambdas"
When running:
[code]
an `IndexError` is raised due code of the form
[code]
The offending line is 625 in `fep.py`. A quick fix for this problem is to cast the list being compared to the current lambda as a numpy array.

[2017-01-21 00:25] orbeckst commented on #9
... but keep `get_array()`.

[2017-01-21 01:10] orbeckst commented on #63
@ianmkenney, I am assuming that this was done and is good because pybol has been in use for the tests for a while.

[2017-01-21 01:10] #63 closed

[2017-01-26 20:02] ianmkenney commented on #78
The tests likely failed to catch the error because when we load the FEP schedule from a file we use use the `getarray` method while our default values (which Ryan was using) are lists. A test has not been written yet that uses these values from what I can see.

[2017-01-31 00:22] #78 closed

[2017-02-02 01:18] #36 closed

[2017-02-02 01:19] orbeckst commented on #36
Yay! Thanks @ianmkenney ... finally done. And as a bonus, it also works with Gromacs 2016 *and* we figured out how to run the tests faster on travis.

[2017-02-02 01:22] orbeckst commented on #37
I think we will leave the default at 1 nm for the time being; we also set the number of cores to 3 in PR #77 in order for the tests with 1 nm to pass. Ultimately, the user has to make a decision for these values. We have done all the SAMPL work with 1 nm for the water. If we get results that indicate that we should rather use 1.2 nm then we change the default.

[2017-02-02 01:22] #37 closed

[2017-02-02 01:24] orbeckst commented on #74
@ianmkenney can you have a look at this – this is the remaining main thing that needs to be fixed for the 0.6.1 release.

[2017-02-13 17:00] orbeckst opened #81 "TIP4P-D water model"
J Phys Chem B. 2015 Apr 23;119(16):5113-23. doi: 10.1021/jp508971m. Epub 2015 Apr 13.
Water dispersion interactions strongly influence simulated structural properties of disordered protein states. https://www.ncbi.nlm.nih.gov/pubmed/25764013

Just heard BPS talk by Robustelli from DESRES on good progress by using new water model to describe both folded **and** unfolded state. We should try it for

[2017-02-13 17:08] iorga commented on #81
I think that it's worth to try. I will try to create a .itp file for the new water model.

[2017-02-13 17:12] orbeckst commented on #81
Great, thanks. The talks in the session all go on about water models... will give us a way to also contribute to the discussion from the point of view of solvation free energies.

[2017-02-14 14:45] iorga commented on #81
I have created a tentative TIP4P-D water model (called _tip4pd_), see the last commit e5cdb4c98387a459090567c36af200519fb14285 into a new branch. @orbeckst , please have a look in _mdpow/top/oplsaa.ff_ especially at the files _tip4pd.itp_ and _ffnonbonded.itp_ (at the end).

I have also identified and fixed an error in the M24 water model (the heavy mass was used for OW instead of the normal one).

[2017-02-16 17:04] ianmkenney opened #82 "Solvationenergy script does not play well with new EDR outputs"
The implementation of EDRs as the new default for energy format did not take into account that the solvationenergy script will not work. A quick workaround to this issue would be to go through all of the FEP directories and run `gmx energy -f md.edr -s md.tpr -odh md.xvg` in order to extract the relevant information.

[2017-02-17 17:34] orbeckst commented on #82
@iorga reported that the workaround failed:

We need to fix this properly.

[2017-02-17 22:37] iorga commented on #82
@orbeckst @ianmkenney :

Example file _VDW/1000/md.xvg_ generated directly with _mdrun_, compatible with the script for analysis (simulation of compound V92 in TIP3P water):

[code]

Example file _VDW/1000/md.xvg_ generated with _gmx energy_ from _md.edr_, incompatible with the script for analysis (simulation of compound V92 in TIP4P-D water):

[code]

[2017-03-10 04:54] #74 closed

[2017-03-10 04:55] orbeckst commented on #26
Actually, use [alchemlyb](https://github.com/alchemistry/alchemlyb/).

[2017-03-10 04:59] orbeckst opened #84 "support Python 3"
Support Python 2.7 and Python 3.6+

- [x] use `from __future__ import print_function, ...`
- [x] use `six` where necessary
- [x] add Python 3 tests to test matrix

[2017-03-13 13:10] iorga opened #85 "incompatible residue names for OPLS ions"
I tried to set up a simulation using a positively charged ligand (with Gromacs 4.6) and I've got the following error.

[code]
It seems that all recent versions of Gromacs (>= 4.5) have residue names in oplsaa.ff/ions.itp without the charge included (e.g. NA or BR), whereas in our ions_opls.itp that is included in the topology files these residue names contain explicitly the charge (e.g. NA+ or BR-

[2017-03-14 04:26] orbeckst commented on #85
Ok, yes, ... did we really start in the 4.5 days???

[2017-03-14 04:27] orbeckst commented on #85
Do you have time to fix the FF file?

[2017-04-23 07:02] orbeckst commented on #82
The problems are mdpow.fep:[L839](https://github.com/Becksteinlab/MDPOW/blob/develop/mdpow/fep.py#L839) and mdpow.fep:[L840](https://github.com/Becksteinlab/MDPOW/blob/develop/mdpow/fep.py#L840) where we use the special computed attributes `XVG.error` and `XVG.tc`: they try to compute correlation time (and error of the mean, using tc) over *all* data columns. If one of the columns is 0 (as always

[2017-04-24 17:19] orbeckst commented on #82
Implementing the fix is not a hold up, I started it, but implementing the test cases is because we don't have any FEP data files yet.

I would like to use @ianmkenney 's `alchemtest.gmx` data set but to test MDPOW we also need the `Gsolv.fep` pickle file. I regenerated data but if @ianmkenney still has his `Gsolv.fep` I could try to mash alchemtest and that file together.

I generated

[2017-05-02 09:28] #82 closed

[2017-05-02 09:29] orbeckst commented on #82
@iorga this should work again.

There's also a new method `Gsolv.convert_edr()` that generates all the necessary xvg files. I still need to add the conversion to the workflow, though.

[2017-05-02 09:52] #14 closed

[2017-06-10 22:14] orbeckst commented on #42
Not really that important.

[2017-06-10 22:14] #42 closed

[2017-09-22 20:49] orbeckst opened #87 "support CHARMM directly"
add infrastructure to run with CHARMM/CGENFF
- organize templates in `templates/FFNAME`
- add switches to enable `templates/FFNAME` search path

[2017-09-22 21:41] orbeckst opened #88 "distance keyword for runiput.yml not documented"
In #30 we added the `distance` keyword but this is not documented anywhere. (And not sure it if it is tested.)

- add distance to the example `templates/runinput.yml` file and the `examples/benzene.yml` file.
- test

[2017-11-10 21:56] orbeckst opened #91 "make boxtype selectable"
- setup keyword in `runinput.yml`
- make sure it is propagated properly

[2017-11-13 03:47] #8 closed

[2017-11-13 04:54] orbeckst opened #93 "use canonical package layout with `src` dir"
Put `mdpow` and `scripts` under `src` to clean up package.

Make tests more robust (because currently they will break horribly when any path gets changed.)

[2017-11-13 04:59] #88 closed

[2017-11-13 04:59] #91 closed

[2017-11-13 05:02] orbeckst commented on #91
@VOD555 if you merge develop into your branch (PR #90) then you should get the `boxtype` option for the `runinput.yml` file.

[2018-02-03 23:53] orbeckst opened #95 "Bind3P water model"
@iorga Maybe we should try out [Mike Gilson's new Bind3P water model](https://chemrxiv.org/articles/Bind3P_A_Water_Model_to_Improve_the_Accuracy_of_Binding_Calculations/5848113)? They tested it with host-guest but perhaps it also works better for solvation free energies

See also #81

p.s.: At the moment I cannot access the paper on chemarxiv https://chemrxiv.org/articles/Bind3P_A_Water_Model_to_I

[2018-02-15 20:28] chloell opened #96 "New GROMACS user"
Hello,

I have just installed GROMACS with the intention to use the MDPOW package.  I am going through the tutorial for MDPOW and am running into the following error:
"
[code]
"

From tutorials I have watched on YouTube regarding the new GROMACS version, it seems that the issue is that I need to execute "gmx mdrun" instead of simply "mdrun".  Where/which are the files that I would need to change i

[2018-02-23 00:47] orbeckst commented on #96
Hi @chloell , sorry, I hadn't monitored the issue tracker closely enough over the last few days.

Can you paste the code that you've been running?

In principle, GromacsWrapper knows when to use `gmx mdrun`. Does the following work:
[code]
It should show the help, something like
[code]

[2018-02-23 21:52] chloell commented on #96
@orbeckst

When I run the following command:
`mdpow-equilibrium --solvent water benzene/benzene.yml`
I get the following error:
[code]
I have attached the log file and example file that I am running:
[test.tar.gz](https://github.com/Becksteinlab/MDPOW/files/1753269/test.tar.gz)

Thank you for your help!
~Chloe
.

[2018-02-24 00:08] orbeckst commented on #96
I think you have a binary called `mdrun` in your PATH. I am not sure what it is. The options imply that it has *something* to do with tests.  I think GromacsWrapper picks up your `mdrun` executable in favor of `gmx`.  (By default, GW tries to [autodetect your Gromacs installation](http://gromacswrapper.readthedocs.io/en/latest/gromacs/core/config.html#setting-up-the-environment) – having a wrong e

[2018-03-06 20:57] orbeckst commented on #96
@chloell did any of the above suggestions help? If I don't hear anything else from you I will close this issue in a few days.

[2018-03-06 21:13] chloell commented on #96
@orbeckst

I haven't gotten a chance to try your suggestions, yet.  I will let you know as soon as I do, likely tomorrow.

Thank you!
I really appreciate your help,
Chloe

[2018-03-12 14:49] chloell commented on #96
@orbeckst

Thank you for your help!  The issue is solved.  We had installed the package on the Desktop; it is correctly installed, now.

Have a great day,
Chloe

[2018-03-12 16:10] #96 closed

[2018-11-02 18:47] orbeckst opened #97 "add option to use KCl counter ions"
Standard ions should be supported in the aqueous phase
- [ ] NaCl
- [ ] KCl

[2018-11-02 18:53] orbeckst opened #98 "support octanol/water mixtures"
Octanol phase typically contains some water. At the moment, only pure octanol solvation is supported.

The [SAMPL6 Part II logP instructions](https://github.com/MobleyLab/SAMPL6/blob/master/logP_challenge_instructions.md#possible-factors-to-consider-in-your-approach) mention

- [x] add octanol/water boxes for the condition above
- [ ] allow selection of octanol+water box instead of pure octanol

E

[2018-11-02 21:11] iorga commented on #98
About mutual solubility of water and 1-octanol (from https://pubs.acs.org/doi/full/10.1021/acsomega.7b01102):
- the solubility of octanol in water is very low
- the equilibrium solubility of water in octanol at room temperature is reported to be about 5 mass percent. (https://doi.org/10.1007/s00706-003-0053-x ; https://doi.org/10.1021/je3001427)

So we should consider only the "wet" octanol box. T

[2018-11-02 21:20] iorga commented on #98
Full-text files for the papers mentioned in the previous post:
- Solubility of Water in Octan-1-ol from (275 to 369) K, Brian E. Lang, Journal of Chemical & Engineering Data 2012 57 (8), 2221-2226 [Full-text](https://github.com/Becksteinlab/MDPOW/files/2544127/je3001427.pdf)
- Thermodynamics of the Solubility of Water in 1-Hexanol, 1-Octanol, 1-Decanol, and Cyclohexanol, Šegatin, N. & Klofutar, C.

[2019-02-19 23:49] orbeckst opened #101 "CI tests failing"
Test on Travis are failing; some of this is probably due to a newer version of `pytest` that does not support some of our old tests anymore.

For right now
- test locallly
- state in PR if tests passed locally

[2019-04-10 20:34] VOD555 opened #104 "Amber version of octanol .tip files need to be modified"
Current Amber octanol .itp files include new atomtypes, which will cause some problem when given other new atomtypes for the molecule we want to calculate solvation free energy for. Actually we can find atomtypes in ffnonbonded.itp which have parameters the same as the octanol. Changing the name of atoms in octanol .itp file would solve this problem.

[2019-04-12 00:02] orbeckst opened #105 "release 0.7.0"
- [x] update CHANGES from log (#143 )
- [x] final fixes (#173 )
- [x] add tag
- [x] make release on GitHub
- [x] release on PyPi

[2019-04-16 23:50] orbeckst opened #106 "remove pybol dependency"
@ianmkenney said he doesn't want to maintain [pybol](https://github.com/ianmkenney/PyBOL) anymore so we need to replace it with something simpler.

*Maybe* this helps with the strange errors on CI, where templates cannot be found (eg PR #103).

[2019-04-16 23:50] orbeckst commented on #106
@ianmkenney can you please take a look together with @VOD555 ?

[2019-07-24 00:27] orbeckst opened #107 "buffering kwarg was removed from openany() in GW 8.0"
The line https://github.com/Becksteinlab/MDPOW/blob/ec31072e89ed7a007bea36fe160be642dd3e8f22/mdpow/fep.py#L783 fails with GromacsWrapper >0.7.0 because `buffering` was removed.

[2019-07-24 18:30] #107 closed

[2019-07-30 21:48] orbeckst opened #109 "update Travis setup"
Make the MDPOW Travis setup similar to the one we use for GromacsWrapper https://github.com/Becksteinlab/GromacsWrapper/blob/master/.travis.yml
- do not use Becksteinlab Gromacs but the one from conda
- check everything else...

Maybe this will help with PR #103 woes ...

[2019-07-31 03:54] orbeckst commented on #109
closed in PR #110

[2019-07-31 03:54] #109 closed

[2019-08-02 00:34] VOD555 commented on #101
Fixed in PR #110

[2019-08-02 00:34] #101 closed

[2019-08-02 01:13] VOD555 commented on #87
Fixed in #103

[2019-08-02 01:13] #87 closed

[2019-08-02 01:14] VOD555 commented on #104
Fixed in #103

[2019-08-02 01:14] #104 closed

[2019-08-02 01:24] VOD555 opened #111 "mixed solvents are only support with Gromacs 2018 and higher versions"
Based on the tests on our local workstation, Gromacs with version 2018.6 _or higher_ support mixed molecule solvent. And the solvation process in MDPOW which modifies the topology file would make the `top` file mismatch the `gro` file generated after solvation.

Maybe we can use Gromacs preprocessor directives in the file and define a variable `MDPOWPREGMX2019` (As discussed in PR #103 )

[code]

[2019-08-02 01:31] orbeckst commented on #87
Hooray!

[2019-09-15 22:15] VOD555 opened #112 "MDPOW does not use TIP3P for CHARMM and AMBER for hydration free energy calculation by default"
The way how mdpow selects water models is different from other solvents. Current mdpow uses TIP4P for all force fields, but for CHARMM and AMBER  we should use TIP3P.

This is the problem with the `get_solvent_model` function in `forcefields.py`.

[2020-07-18 04:34] VOD555 opened #113 "Cannot set `maxwarn` option in `fep.setup`"
## Expected behavior ##
User can set the `maxwarn` keyword in `fep.setup`.

## Actual behavior ##
Current `maxwarn` is fixed to be 1 in `fep.setup`.

[2020-07-19 00:30] VOD555 opened #115 "Current CHARMM forcefield in MDPOW is outdated."
Current CHARMM focefield in MDPOW is  CHARMM36 July 2017 including CGenFF 4.0 parameters. But the parameters from the newest version of CGenFF (4.1) are not included in this CHARMM forcefield version.

We should use CHARMM36 March 2019 so that parameters generated from CGenFF 4.1 can be directly used with MDPOW.

[2020-07-19 05:08] #113 closed

[2020-07-19 05:09] orbeckst commented on #93
Won’t fix

[2020-07-19 05:09] #93 closed

[2020-07-20 08:03] iorga opened #116 "add user-defined maxwarn options to all steps (EM, MD_relaxed, MD_NPT)"
Currently, maxwarn option can be set up only for FEP (see #113). We need that user can change it in all steps (via the `runinput.yml` file), so this option should also be implemented in EM, MD_relaxed and MD_NPT.

Right now, with Gromacs 2020.3, the EM in octanol is blocked because of a warning:

[code]

[2020-07-20 19:28] iorga opened #117 "remove deprecated -DFLEXIBLE from em_opls.mdp"
The option -DFLEXIBLE is now deprecated (see https://mailman-1.sys.kth.se/pipermail/gromacs.org_gmx-users/2008-October/037571.html) and triggers unwanted warning messages. It should be removed from the `em_opls.mdp` template file.

[2020-07-21 00:39] #117 closed

[2020-07-22 20:33] iorga opened #119 "number of threads for EM simulation"
Currently, the EM simulation is executed with the command `gmx mdrun -c em.pdb -deffnm em -stepout 10 -v` and no parameter can be changed by the user.

In my case, it works on a machine with 8 cores, but not on another machine with 20 cores, which gives the following error:
[code]

We need that the user can change at least the number of threads for the EM simulation, otherwise MDPOW cannot be run

[2020-07-23 21:57] VOD555 opened #120 "Update OPLS-AA octanol parameters"
As discussed in the paper, the octanol model used in MDPOW underwent a phase transition to a dense solid phase during the simulation at 273 K.
We should update with the parameters from Zangi R (2018) Refinement of the OPLSAA force-field for liquid alcohols. ACS Omega 3(12):18089–18099. https://doi-org.ezproxy1.lib.asu.edu/10.1021/acsomega.8b03132 .

[2020-07-23 23:30] iorga commented on #120
I have generated the `1octnew.itp` file with the parameters from the paper (also added a new atom-type in the `ffnonbonded.itp` file), see the pull request #121.

@VOD555 , can you please implement it in MDPOW as an alternative to `1oct.itp` or `1octwet.itp` ? Thanks. I will run simulations with both `1oct.itp` and `1octnew.itp`, so we can compare the results.

[2020-07-24 04:14] VOD555 opened #123 "Add forcefield options to the scripts"
MDPOW script doesn't allow users to choose forcefileld with yml file.
OPLS-AA is the only choice when using the script with yml input.

[2020-07-24 17:19] #115 closed

[2020-07-24 17:23] orbeckst commented on #112
@VOD555 but for SAMPL6 we ran our CHARMM simulations with TIP3P, at least that's what we wrote (and clarified) in the README for https://github.com/Becksteinlab/SAMPL6_logP_data . How did we do this then?

[2020-07-24 18:18] VOD555 commented on #112
@orbeckst This happens when you set the solvent = water without specific water model. One can choose tip3p using the option watermodel, but the default watermodel for all forcefield is tip4p.
See line 124 in `forcefield.py`

[2020-07-24 19:14] orbeckst commented on #112
Thanks for clarifying.

It would be good to have a way to change FF #123 and then, based on that setting, choose the defaults.

[2020-07-25 08:07] iorga commented on #120
@VOD555 please don't forget to update also the script `mdpow-get-runinput` which generates the reference `runinput.yml` file. In the absence of updated documentation, this is the only resource for the user to see the available options and the syntax. Thanks.

[2020-07-31 18:25] #120 closed

[2020-07-31 18:26] orbeckst commented on #98
Closed by PR #103 and PR #121

[2020-07-31 18:26] #98 closed

[2020-08-03 19:37] #123 closed

[2021-01-20 00:23] Ntr9999 opened #125 "Unable to install package :("
"Building wheel for mdanalysis (setup.py) ... error"
then pages and pages of red error messages

[2021-01-20 00:30] #125 closed

[2021-01-20 22:51] Ntr9999 opened #126 "New Gromacs User, Many Errors"
Hi,

I am a new Gromacs user and came across your package which has the potential to be very useful to me. Unfortunately, I have had problems using MDPOW. I'm pretty sure Gromacs is installed properly, is my location okay (/usr/local/bin/GMXRC)?
MDAnalysis seems to be causing problems too, when I try to install it, both with MDPOW install and individually, something doesn't work, I don't know if t

[2021-01-23 21:26] orbeckst commented on #126
The MDAnalysis problem is known (see https://github.com/MDAnalysis/mdanalysis/issues/2938) and you found the correct workaround.

Working in a conda environment is an excellent idea.

For anything else, please
* copy and paste your input (what are your doing to install)
* copy and paste your output (anything that says error and what leads up to it) or attach a log file
Without details it's unlikel

[2021-01-23 21:55] orbeckst commented on #126
I updated the [INSTALL](https://github.com/Becksteinlab/MDPOW/blob/develop/INSTALL.rst) instructions, too.

[2021-01-23 21:58] orbeckst commented on #84
Unless someone wants to put the effort into porting with `six` we will just keep it Python 2.7 and a stable set of dependencies.

[2021-01-23 23:00] Ntr9999 commented on #126
Thank you for your quick response, I greatly appreciate your assistance.
So I started from scratch in a fresh environment, as you suggest:
**input:**
[code]

**output: (from the mdpow-equilibirum --help command, everything prior was fine I do believe)**

[code]
This is what has been confusing me, because I have checked to see if MDAnalysis is installed, and it appears as though it is:

[code]

I a

[2021-01-23 23:07] orbeckst commented on #126
There's an old installation of MDPOW (and possibly other stuff) in `/usr/local` as indicated by */usr/local/bin/mdpow-equilibrium"* and */System/Library/Frameworks/...*. Somehow your conda environment is not properly isolated from the rest of your system. Are you setting PYTHONPATH or PATH environment variables anywhere?

Look at the output of
[code]

Your MDAnalysis installation is outdated. This

[2021-01-23 23:28] Ntr9999 commented on #126
Okay, so I restarted my terminal and went back into the environment and that error no longer occurs (I get the correct -help output).

[code]

[code]

`/Users/mark/opt/anaconda3/envs/mdpow/lib/python2.7/site-packages/MDAnalysis/__init__.pyc`

Everything looks good with those locations now? So I think that problem with MDAnalysis not being found has solved.

However, my version is still 0.20.1
[cod

[2021-01-23 23:33] orbeckst commented on #126
Maybe
[code]
?

[2021-01-23 23:35] orbeckst commented on #126
Btw, what operating system are you running?

Can you show the output from starting `python` (eg mine is
[code]
just to see if there's  a weird combo of O/S & python for which for some reason no 1.0.0 conda package is available.)

[2021-01-23 23:36] orbeckst commented on #126
And run
[code]

[2021-01-23 23:36] Ntr9999 commented on #126
I have just realised why it was outputting that error about MDA not found.
When I source my gromacs with "source /usr/local/bin/GMXRC" and then try and run:
`mdpow-equilibrium --help, `
it outputs the error.

It only works when I don't source my gromacs...

Do you think the location of my gromacs is causing errors?

[2021-01-23 23:37] orbeckst commented on #126
... oops, I have 0.20.1 too!

I'll have to look into this on MDAnalysis's side.

I guess for right now, 0.20.1 should work... (fingers crossed, it's not super-essential for MDPOW IIRC.)

[2021-01-23 23:39] orbeckst commented on #126
Your 'source GMXRC` changes PATH. In this case it picks up your old installation.

Uninstall your old MDPOW installation (always a good idea).

I'd also install GROMACS in a dedicated directory that's not on the normal PATH, e.g. `/opt/gromacs/2020.2` or similar.

[2021-01-23 23:49] Ntr9999 commented on #126
Okay, thank you so much for your help!
I will reinstall my GROMACS to a new directory now.

[2021-01-24 00:04] orbeckst commented on #126
I opened https://github.com/MDAnalysis/mdanalysis/issues/3105 for the 0.20.1 version of MDAnalysis.

[2021-01-24 02:21] Ntr9999 commented on #126
Okay, so I reinstalled my gromacs and I am able to source it and run the -help mdpow command. However, when doing the tutorial, I run into error messages that were encountered here: https://github.com/Becksteinlab/MDPOW/issues/96
after running this:
`export GW_START_LOGGING=True
mdpow-equilibrium --solvent water benzene/benzene.yml`

I encounter these errors (very similar to that in the previous t

[2021-01-24 02:50] Ntr9999 commented on #126
The user in the linked thread said she had installed the package on her desktop and that was causing the errors? I think I built gromacs from my desktop, but I source it from user `/opt/gromacs/`

[2021-01-25 08:01] orbeckst commented on #126
@Ntr9999 , it is possible that GROMACS 2020 does not allow you to start a simulation with `-cpi -append` (see PR #127 and below).

@VOD555 does this error sound familiar to you — have you been running MDPOW with GROMACS 2020?

[2021-01-25 08:05] orbeckst commented on #126
@Ntr9999 could you please try out the code in PR #127 and see if it fixes the problem?
[code]

Let me know if this worked.

[2021-01-25 09:52] Ntr9999 commented on #126
I do believe it worked! So was this because of the gromacs version?

`mdpow.checkpoint: INFO     checkpoint: MD_NPT_run
mdpow.run   : INFO     Equilibrium simulation phase complete, use 'benzene/water.simulation' to continue.`

However the next step has an mdrun error too, would you recommend that I downgrade my gromacs to one of the known supported versions?

**Input:**
`(mdpow) mark@marks-MBP be

[2021-01-25 11:12] iorga commented on #126
This syntax with `-append` was correct with previous versions of Gromacs (~4.5-4.6), but is not accepted anymore by more recent versions (e.g. 2020).

No, you should not downgrade Gromacs, we should make it work with the more recent versions.

I've got the same error some time ago, which was reported in #119.

For the EM step, Gromacs uses all threads available on your computer. In some cases, the

[2021-01-25 11:20] Ntr9999 commented on #126
I see, thank you very much for your input.

[2021-01-25 16:02] Ntr9999 commented on #126
In the .yml file, there is a section, shown below:
`mdrun:
    stepout: 1000
         # how often to report progress (-stepout)
    verbose: True
         # report progress verbosely (True is -v)
    nice: 19
         # nicel level
    maxthreads: None
         # maximum number of threads (-nt), 0 or None lets mdrun automatically choose`
Can't I change max threads here, or is this for something el

[2021-01-25 17:22] iorga commented on #126
You should definitely try to set this `maxthreads` option to 2 or even 1. I don't remember exactly what I've got when I tried it, quite a long time ago. I think it applies only to the MD_relaxed and MD_NPT simulations (when run locally), not to the EM step, but I'm not sure. Please check it.

[2021-01-25 18:06] Ntr9999 commented on #126
You're right, it doesn't apply to the EM step.

[2021-01-25 20:37] Ntr9999 commented on #126
Hi again 😫.

I'm trying to run the package on quite a small unusual molecule and I believe that my .itp file is correct, however, when I run:
`mdpow-equilibrium --solvent water runinput.yml`
I get error messages implying that the force field has not been adapted to the new "residue":
`ERROR 1 [file diaz.itp, line 26]:
  No default Bond types

ERROR 2 [file diaz.itp, line 27]:
  No default Bond typ

[2021-01-25 20:50] orbeckst commented on #126
Reopening — sorry, PR #127 only solved the append problem.

[2021-01-25 21:46] orbeckst commented on #126
@Ntr9999 did you manage to run the benzene example? Ideally I'd like to hear that this all worked before looking into anything else.

If the maxthreads issue   #119 is a problem you can do one of two things: make the box much bigger (so that Gromacs is happy to run it on more cores), by increasing the min distance, or try out the code in branch *emin-maxthreads* (PR #128).

Can you open a new issu

[2021-01-25 23:05] Ntr9999 commented on #126
I didn't run the FEP, but I guess you're right in that it makes sense to check it works first.

I think you made a slight error in the code, when I remove the comma and the end of the line it works.

I will do this yes, my apologies.

[2021-01-25 23:14] #119 closed

[2021-01-25 23:16] orbeckst commented on #119
@iorga @VOD555 I patched this functionality in in PR #128 but without tests. I am not happy about this but we need to fix the tests anyway and one user confirmed that the fixed worked. For right now, the mdrun.maxthreads setting will also apply to energy minimization.

[2021-01-25 23:30] VOD555 commented on #119
Ok. I think we need to open an issue about the tests needed to be added.

[2021-01-26 00:21] Ntr9999 commented on #126
It worked and gave me reasonable numerical values, but outputted errors at the end.

For the last step, `mdpow-pow benzene`, I got the values and output files (energies.txt, pow.txt and DeltaA.png - is there only supposed to be DeltaA.png for the octanol step? Is there a way I can get it for both?), but there was some erroring afterwards referring to Matlab.

Output:
`mdpow.fep   : INFO     DeltaG

[2021-01-26 00:45] orbeckst commented on #126
Overall it looks as if the simulation aspects are working but the analysis stage is broken. Admittedly, I don't think that we have been using the analysis scripts a lot lately (@iorga @VOD555 ??); I think we mostly wrote code based on [alchemlyb](https://alchemlyb.readthedocs.io/). Our recent paper

  S. Fan, B. I. Iorga, and O. Beckstein, “Prediction of octanol-water partition coefficients for th

[2021-01-26 00:49] orbeckst commented on #126
None of the questions are trivial — it's just that MDPOW is not very polished and it's hard to keep it up-to-date. When we use it "it just works™" (most of the time...). We definitely would like others to be able to use it so thank you for working with us.

[2021-01-26 02:54] Ntr9999 opened #129 "Analysis stage of "mdpow-pow benzene" failing"
Final stage of the benzene tutorial outputs errors (after output of values and files). Originally mentioned here: https://github.com/Becksteinlab/MDPOW/issues/126

To fully reproduce:
`conda create -c conda-forge -n mdpow python=2.7 numpy scipy 'matplotlib<3.3' 'mdanalysis<2' 'mdanalysistests<2' pyyaml
conda activate mdpow
pip install gromacswrapper
git clone https://github.com/Becksteinlab/MDPOW.

[2021-01-26 03:22] Ntr9999 opened #130 "Errors regarding force field when using unknown residues"
I'm trying to run the package on quite an unusual molecule and I thought that my .itp file was correct, however, I am starting to doubt this.
When I run:
[code]
I was under the impression that mymolecule.itp was incorporated automatically by the package to the top of the topology file with #include.
Or am I required to update the force field files myself aswell? If so, are these the ones in the MD

[2021-01-26 03:26] Ntr9999 commented on #126
I have created new issues for my two issues, in order to keep them compartmentalised.
https://github.com/Becksteinlab/MDPOW/issues/129
https://github.com/Becksteinlab/MDPOW/issues/130
This issue, which was originally regarding installation, can now be closed.

[2021-01-26 03:29] #126 closed

[2021-01-26 06:25] iorga commented on #130
Can you provide here the corresponding .pdb file, please? What was the source of your .itp file?

Your .itp file is not complete, it has some missing values that are absent from the original OPLS-AA force field. I will give more explanations after providing the .pdb file, it will be easier.

The CHARMM/CGenFF force field requires a third (.prm) file, in addition to .itp and .pdb.

[2021-01-26 13:33] Ntr9999 commented on #130
Since I cannot attach the file itself, I have uploaded it here: https://filebin.net/wf9jxtjbrd0zt1em
If there is a file share site you would rather I use, let me know, this was what google recommended.
I generated the pdb file with Avogadro, probably not the lowest energy structure, but I just wanted to use it as a test run.

I used topolgen-1.0 (found here: http://www.gromacs.org/Downloads/User_c

[2021-01-26 16:45] Ntr9999 commented on #130
I found an itp generator that looks more reliable (PRODRG) and I see what you mean about the missing values before:
`[ moleculetype ]
; Name nrexcl
DIA      3

[ atoms ]
;   nr      type  resnr resid  atom  cgnr   charge     mass
     1        OM     1  DIA     OXT     1   -0.360  15.9994
     2         C     1  DIA       C     1    0.720  12.0110
     3        OM     1  DIA       O     1   -0.360

[2021-01-26 20:39] Ntr9999 commented on #130
P.S. I did also try using the LigParGen web server, as you did for OLPS in your paper, but got Atomtype not found again.
The server also gave me this, which looks like the sort of thing that would go in a .ff file, since [atomtypes] is not a valid input into a .itp file:
[code]

[2021-01-26 20:48] iorga commented on #130
LigParGen should give you a correct input file. I paste below an example of a compound that we have used for the SAMPL7 Physical Properties challenge.

I will write you about your molecule later, in a separate post, as the answer requires more time.

[code]

[code]

[2021-01-26 20:52] Ntr9999 commented on #130
Thanks,

I get 1 warning, which I am going to temporarily allow to see what happens:

`WARNING 1 [file system.top, line 30]:
  13 non-matching atom names
  atom names from
  /Users/mark/Desktop/diaz/diaz/Equilibrium/water/top/system.top will be
  used
  atom names from
  /Users/mark/Desktop/diaz/diaz/Equilibrium/water/solvation/solvated.gro
  will be ignored`

Does it look harmless?

[2021-01-26 21:10] iorga commented on #130
You should not neglect this warning. It means that the order of atoms is not the same in the input .pdb and .itp files. Reordering the atoms in .pdb according to the order from .itp should fix this.

[2021-01-26 21:49] iorga commented on #130
Attached are the .pdb and .itp for your structure, using the original OPLS-AA atom types. You will note that, compared with your original .pdb file, the atoms were reordered according to the order from the .itp file.

Remarks:
- the hydrazine moiety is not parametrized in OPLS-AA, I had to adapt manually the charge of the two nitrogen atoms from -0.780 into -0.580 (they are adapted from secondary

[2021-01-26 22:42] Ntr9999 commented on #130
Thank you for these explanations, they are very helpful.

I am currently running the simulations using the corrected .itp file from LigParGen, but after this I will be sure to run yours (which looks like it came from a personal script) and report back. It will be interesting to see how the two compare, especially vs other LogP predictions such as those from QSAR methods.

Thanks again.

[2021-01-26 22:49] iorga commented on #130
Yes, it was generated by a script called MOL2FF that we have developed in house. But given that there are quite many parameters that are absent from the OPLS-AA force field, it requires very often manual (expert) intervention on the output .itp file and therefore is not adapted for public usage.

[2021-01-27 15:03] Ntr9999 commented on #130
So I changed all the residue names to DIA (from PRO) to stop it confusing it with the proline residue (admittedly I should have done this with the pdb file first before creation of the itp file). This allows the mdpow-equiilibrium to proceed to completion.

However, when I try to run mdpow-fep, (with both equilibrium data from using your .itp file and also the one from LigParGen), I encounter the

[2021-01-27 15:17] iorga commented on #130
Try to run manually the command provided at the end of the error message:
[code]

Maybe you should increase the `maxwarn` value?

[2021-01-27 15:34] Ntr9999 commented on #130
This outputs the following error:
`Error in user input:
Invalid command-line options
  In command-line option -f
    File 'md.mdp' does not exist or is not accessible.
    The file could not be opened.
      Reason: No such file or directory
      (call to fopen() returned error code 2)`

When I use the full directory path (putting /Users/mark/Desktop/diaz/diaz/Equilibrium/water/MD_NPT/ infront of

[2021-01-27 23:30] Ntr9999 commented on #130
So I thought there might have been a problem with the data gathered from the 50ns mdpow-equilibrium data, because when I deleted it(moved into backup directory) and did a very short mdpow-equilbirum simulation, the data outputted from this works... There was a file named md_prev.cpt in the MD_NPT folder of the 50ns simulation, which I thought was weird, because it was not present in the folder fro

[2021-01-28 09:00] iorga commented on #130
[code]

I looked back to your last messages, and I'm surprised by this error. DIA should be in big caps, not in small caps. Could you please check in the .pdb, .itp, .yml files that DIA is in big caps everywhere? We need to find from where it comes this small caps 'dia' in your error messages (there are several occurrences).

[2021-01-28 09:08] iorga commented on #130
The command does work, but it's not the right md.mdp file. These command should be executed in the FEP folder, in `/Users/mark/Desktop/diaz/diaz/FEP/water/VDW/0000` (see mdpow.log). It should work without the full path for md.mdp, and maybe you'll get a warning that would explain the error that you have.

[2021-01-28 09:16] iorga commented on #130
The presence of md_prev.cpt is normal for longer simulations. Running the commands from two different terminals (but not simultaneously) should not be a problem.

As I said in my previous message, this is the wrong md.mdp file, you should use the one from the FEP folder.

Have you tried with `maxwarn` 1 or higher as I suggested previously ?

Let's see if my suggestions bring any new information he

[2021-01-28 14:25] Ntr9999 commented on #130
I realise now what has happened:
So my .yml file originally had lowercase dia in the setup section (a rookie error from me, I apologise). mdpow-equilibrium is allowed to proceed when this is the case. However when it comes to -fep, it will error.
The reason I did not pick up on this earlier, is because when I first got the error, I believe that I went through the yml file and changed dia to DIA. B

[2021-01-28 14:46] iorga commented on #130
No problem. We all make mistakes and we are here to learn.

Please rerun the whole protocol with short simulation times (e.g. 1 ns for equilibrium and 100 ps for each FEP window) to confirm that everything runs smoothly. The resulting numbers will not be reliable as the simulations will not be converged, but this is only for checking that the whole protocol works correctly now in your hands.

Plea

[2021-01-29 09:36] Ntr9999 commented on #130
The whole protocol (up to the failing analysis stage of md-pow previously mentioned) runs smoothly.

I will do this now.

[2021-01-29 09:54] Ntr9999 opened #131 "Checking for correct ligand code in all input files"
What I observed:
My .yml file originally had the lowercase ligand code in the setup section (a rookie error from me). However, mdpow-equilibrium is allowed to proceed when this is the case. But when it comes to -fep, it throws out an error:

[code]
xxx = your three letter ligand code (in lowercase)

But since the equilibrium files are created with the lowercase ligand code, it is then too late to

[2021-01-30 11:04] #130 closed

[2021-03-19 23:55] orbeckst commented on #129
The matplotlib backend thing should not be a problem.

I am not sure what failed in the plots. It looks as if one plot is missing (maybe no data??). Sorry, I know, not very helpful.

[2021-03-19 23:58] orbeckst opened #133 "allow mdpow analysis scripts to select alchemlyb estimators"
When PR #132 is merged, we can use alchemlyb (including MBAR #26 ) estimators instead of MDPOW TI from the python API. This should also be available from the commandline tools, especially `mdpow-fep`
- [x] commandline options
- [ ] cfg file options

(Decide if one or both.)

[2021-03-19 23:58] orbeckst commented on #133
cc @iorga – please check here for progress

[2021-03-20 16:05] #26 closed

[2021-03-22 02:22] VOD555 commented on #133
Just found `mdpow-fep` only runs the simulations, the analyze scripts are `mdpow-pow`, `mdpow-ghyd` or `mdpow-solvationenergy`.

[2021-03-22 03:34] VOD555 commented on #133
Current `method` is a keyword for `mdpow-fep` in cfg file, but it only works when people use the analysis scripts. I prefer using commandline options for this version and have a new procedure `analysis` in cfg file in a future version.

[2021-03-22 04:27] orbeckst commented on #133
I am fine with command line only for right now. But it should work with the files that we produced from SAMPL7.

[2021-03-23 18:58] VOD555 commented on #111
Current version supports GROMACS with version >2018, but doesn't support lower versions.

[2021-03-24 01:39] #133 closed

[2021-03-24 03:20] VOD555 opened #135 "allow mdpow other analysis scripts to select alchemlyb estimators"
In #134 we add alchemlyb estimator options to `mdpow-pow`.
The same options need to be added to

- [x] `mdpow-pow`
- [x] `mdpow-pcw`
- [x] `mdpow-ghyd`
- [ ] `mdpow-solvationenergy`

[2021-03-24 04:32] orbeckst commented on #111
that's ok, we just have to document it and fail when we detect unsupported gmx

[2021-03-29 22:15] VOD555 opened #136 "SI input doesn't work in mdpow-pow"
Expected behavior:
`mdpow-pow` performs statistical analysis based on the input `SI`

Current behavior:
Current SI input would not work if there is a `SI` attribute in the object `Gsolv` saved in the fep pickle file.

[2021-03-30 08:11] #136 closed

[2021-04-21 07:33] iorga opened #138 "mdpow-pow and mdpow-pcw broken"
The scripts `mdpow-pow` and `mdpow-pcw` are not functional anymore, giving two different errors:
[code]
[code]

[2021-04-21 07:41] iorga opened #139 "mdpow-pow and mdpow-pcw don't have the same options"
The scripts `mdpow-pow` and `mdpow-pcw` don't have the same options and very likely do not analyze the data in the same way:

[code]

[code]

[2021-04-22 19:01] iorga opened #140 "no backwards compatibility for the "watermodel" option of configuration file"
The "watermodel" option of the configuration file that was present originally in MDPOW was replaced by the more general "solventmodel". Currently, when the "watermodel" option is present in the configuration file, MDPOW ignores it silently and uses the default water model, which is not the desired one.

The backwards compatibility should be ensured for this option.

[2021-04-26 05:16] VOD555 commented on #139
@iorga
Hi bogdan,
Please have a look at #142, it should fix the problem of mdpow-pow and may fix the mdpow-pcw (which I don't have a test dataset yet).
It should be metioned that mdpow-TI method is the default option when using `mdpow-pow` and `mdpow-pcw` without a specific `estimator` input, and this method doesn't support alchemlyb SI analysis and start, stop input.

[2021-04-26 22:00] iorga commented on #139
Thanks @VOD555, I will look at it tomorrow, today it was very busy. But I would say that MBAR/alchemlyb analysis should be the default option, and TI should be a secondary option. Any thoughts, @orbeckst ?

[2021-04-26 23:40] orbeckst commented on #139
We should switch the default analysis method to alchemlyb MBAR. Our 2020 paper used it as the default.

[2021-04-27 01:37] orbeckst commented on #140
How should this work? Should we just use *watermodel* as equivalent to *solventmodel*?

[2021-04-27 01:38] orbeckst commented on #140
Or would it better to fail when *watermodel* is encountered?

[2021-04-27 04:31] iorga commented on #140
Both options are fine for me. Probably use _watermodel_ as equivalent to _solventmodel_ is better, as in reality _solventmodel_ is a synonym of _watermodel_, but with broader applicability.

[2021-04-27 07:32] iorga commented on #81
TIP4P-D water model was implemented in #141.

[2021-04-27 07:32] #81 closed

[2021-04-27 16:57] orbeckst commented on #81
4-year old issue closed! yay!

[2021-04-28 20:56] #138 closed

[2021-04-28 20:56] #139 closed

[2021-04-28 21:00] #12 closed

[2021-04-28 21:01] orbeckst commented on #9
Not gonna break input files...

[2021-04-28 21:01] #9 closed

[2021-04-28 21:05] orbeckst commented on #76
@VOD555 do you have any idea how we're dealing with `init_lambda_state` and `fep_lambdas` at the moment?

- Can this issue be closed?
- Do we need tests?

[2021-04-28 21:08] orbeckst commented on #135
@VOD555 can you please check off the scripts in the main issue above that already have the options added (eg as part of PR #142) so that we know what else would need to be done here? Thanks.

[2021-04-28 21:10] orbeckst commented on #112
Is this related to #140 ?

cc @iorga

[2021-04-28 21:12] orbeckst commented on #129
@VOD555 are you able to reproduce the error above?

[2021-04-28 21:13] orbeckst commented on #111
Is this why our Gromacs 4.6.5 tests fail?

[2021-04-28 21:17] orbeckst opened #143 "update CHANGES from accumulated PRs"
We were not good updating CHANGES as parts of PRs. For release 0.7.0 #105 we need to manually update CHANGES from the git log messages.

Important PRs
- [x] #142: changes to scripts: default estimator changed, SI becomes default, stride=1 default
- [x] #141: additional solvent models
- [x] #134: scripts can choose estimator
- [x] organize CHANGES in sections

For future PRs, add CHANGES right away

[2021-04-28 21:22] iorga commented on #112
@orbeckst No, not directly related to #140. The idea is to choose automatically, in the absence of the solventmodel/watermodel option, the right water model, which is tip3p for AMBER and CHARMM (similarly with OPLS-AA which choses tip4p).

[2021-04-28 21:38] orbeckst commented on #105
@iorga @VOD555 I'd like to make a 0.7.0 release for the SAMPL7 paper — so that we can make the version clear in revisions.

[2021-04-29 00:46] VOD555 commented on #129
@orbeckst I met another error about the plot function. I'm running the tutorial to see whether we can reproduce thiserror.

[2021-04-29 01:36] VOD555 commented on #76
@orbeckst
1. Yes, we've already been using init_lambda_state and a list of all window lambdas were used as input for fep_lambdas.
2. In principle mbar calculations could not be performed if the edr file doesn't contain information with other lambdas. We have testes using mbar, so I think we don't need tests for this one.

[2021-04-29 01:36] VOD555 commented on #135
ghyd and solvationenergy still need to be updated.

[2021-04-29 04:39] orbeckst commented on #76
Then we can close. Thank you.

[2021-04-29 04:39] #76 closed

[2021-04-29 20:49] VOD555 commented on #129
I'm doubting whether it's caused by pylab, I'm trying to rewrite the plot functions without pylab.

[2021-05-01 08:29] VOD555 commented on #129
This first error was caused by the use of matplotlib in `gromacswrapper`.
We should import matplotlib before importing gromacswrapper and fixed this.

[2021-05-01 18:06] VOD555 commented on #129
The second error is due to `plt.close()` at line 1189 in `fep.py`. As the plot window is closed, we can't activate it again with `gcf().get_axes()` which generates a empty list.

[2021-05-17 21:37] VOD555 commented on #116
MD_relaxed and MD_NPT now support `maxwarn` innput.
Current EM cannot support `maxwarn` as the EM function in `gromacswrapper` doesn't have this input.

[2021-06-01 20:25] orbeckst commented on #135
@VOD555 can you please make some time to finish this issue, we need the other scripts. Thanks.

[2021-06-01 20:26] orbeckst commented on #135
Note: all scripts should be consistent with each other and have the same interface.

[2021-06-01 20:32] orbeckst opened #145 "more flexible mdpow-pow and mdpow-pcw"
We need a way that the Pcw and Pow calculations can use water runs that were not originally part of the same MDPOW run (not in the same directory).

Perhaps *water* is too restrictive as a directory name and alternatives need to be allowed. ~Or have subdirectories with water model name but the first approach is more flexible.~

1. Allow multiple solvent directories (eg tip4p, spce, cyclohexane, oc

[2021-06-01 20:43] orbeckst opened #146 "use alchemlyb plotting functions"
https://alchemlyb.readthedocs.io/en/latest/visualisation.html should be used for the scripts

[2021-06-01 20:45] orbeckst opened #147 "treatment of use of SI should be transparent"
https://github.com/Becksteinlab/MDPOW/pull/142#issuecomment-830683549 indicates that there are still issues in how SI is used and enabled/disabled in scripts (see also #135 )

- It should be easy to enable/disable use of SI.
- The log file needs to contain (at INFO) what settings are used (enable/disabled) and we would also want the actual value.

[2021-06-01 20:45] orbeckst commented on #147
@VOD555 can you please have a look/comment? Thanks.

[2021-06-02 04:29] VOD555 commented on #135
@orbeckst Just find in `ghyd` it says
[code]

Do we need to modify the options for `ghyd` ?

[2021-06-02 05:03] iorga commented on #135
@VOD555 No, `ghyd` should indeed be removed. We need to have `mdpow-solvationenergy` with the full functionality, which includes those of `ghyd`.

[2021-06-07 23:28] orbeckst commented on #84
@ALescoulie if you want to take the py3 upgrade on — _please_ do!!!!

[2021-06-07 23:33] orbeckst opened #149 "make tests work again"
Currently testing is broken.

Need to investigate what needs to be fixed. And then it needs to be fixed.

See Also
- #111
- #66
- #84
- #106

[2021-06-07 23:41] orbeckst commented on #106
We can also add pybol code from https://github.com/ianmkenney/PyBOL into our tests (to get rid of one package dependency with unmaintained code) and then replace it eventually with simpler code.

[2021-06-07 23:44] orbeckst commented on #149
If the only thing needed to solve this is to remove 4.6.5 support #111 then we just need to update
- travis
- docs

[2021-06-09 03:53] #135 closed

[2021-06-09 22:56] orbeckst opened #151 "update authors in output"
The logger output should indicate that @VOD555 has been doing the majority of the work on MDPOW for the last few years. Any other authors should be added, roughly "Shujie Fan, Ian Kenney, ...., Bogdan I. Iorga, Oliver Beckstein".

[2021-06-09 22:56] orbeckst commented on #151
If there any other authors lists, they should also be updated.

[2021-06-11 14:44] iorga opened #152 "options --SI and --no-SI in scripts should be mutually exclusive"
- [ ] The `--SI` option activates the statistical inefficiency analysis and `--no-SI` disables it. The default value for `--SI` is `True` in the help message, which is correct, as this analysis is performed if no argument is provided. But in the same help message the default value for `--no-SI` is also `True`, which doesn't seem to be correct, as this analysis is not disabled in the absence of thi

[2021-06-23 17:07] orbeckst opened #153 "RTD docs build fails"
RTD [build 3671699](https://readthedocs.org/projects/mdpow/builds/13671699/) fails, apparently issues with compiling against the numpy installation

[code]

[2021-06-23 17:09] orbeckst commented on #153
Possible source: https://github.com/numpy/numpy/issues/14384

[2021-06-23 17:16] orbeckst commented on #153
Possible workaround: downgrade to Python 1.15.4 or upgrade to 1.19.x (if this still supports Python 2.7)

https://stackoverflow.com/questions/65159846/runtimeerror-implement-array-function-method-already-has-a-docstring-trying

[2021-06-29 23:16] rsexton2 opened #154 ""No such group" during solvation step with octanol"
I'm trying to run
<source>mdpow-equilibrium --solvent octanol glyh101.yml</source>
I did the same with <source>--solvent water</source> and had no issues.

I copied the runinput.yml from the templates and made a few changes (copied here as .txt).
[glyh101.txt](https://github.com/Becksteinlab/MDPOW/files/6736989/glyh101.txt)

Here are the structure (step4.1_equilibration.gro) and topology (Glyh101.

[2021-06-29 23:37] iorga commented on #154
@rsexton2

Please check with @VOD555 for allowed values, but I don't think that solvent_name should be "OcOH", I would say rather "octanol", or better nothing, in this latter case it will take the default value from the option "--solvent octanol".

Also your molecule seems to be charged, but for solvation free energies and partition coefficients calculations we use only neutral form of the compoun

[2021-06-30 02:42] VOD555 commented on #154
@iorga The solvent_name is the molecule type defined in the itp file. Althought it's `SOL` in `[ moleculetype ]` but gromacs still uses the atomtype in `[ atom ]` which is `OcOH`. I checked the itp files for water, they are all defined as `SOL`.

For octanol, the molecule type should be changed to `SOL` as well.

I will do this after finishing the PR #150

[2021-07-14 19:15] #151 closed

[2021-07-20 01:56] orbeckst opened #158 "transition from Travis CI to GitHub actions"
Use the free GitHub actions.

**Important** because we ran out of Travis credits.

[2021-07-21 18:33] orbeckst commented on #152
Just fail if both are activated.

[2021-07-21 18:41] orbeckst commented on #111
yes

[2021-07-21 18:41] orbeckst commented on #111
WIll mark the failing mixed solvent tests with XFAIL for 4.6.5

[2021-07-22 00:29] orbeckst commented on #111
2018 also works, as see in the tests for #159

[2021-07-22 00:39] #149 closed

[2021-07-22 00:39] #158 closed

[2021-07-22 01:02] orbeckst opened #161 "coverage is missing"
Coverage is at 0% even though tests are running and the coverage is included in the GH actions #200.

[2021-07-22 01:08] orbeckst opened #162 "some tests are not executed"
Output from the last passed action, showing that multiple tests cannot be run by pytest

- [x] mdpow/tests/test_forcefields.py : test_gromacs_water_models (contains `yield`)
- [x] mdpow/tests/test_forcefields.py : test_get_solvent_identifier_solvents
- [x] test_get_solvent_wetoctanol : not a function

[code]

[2021-07-22 01:09] orbeckst commented on #161
Output says
[code]
so that might be the reason... but why?

[2021-07-22 10:29] #161 closed

[2021-07-22 19:00] orbeckst commented on #116
Can we rewrite the MDPOW code to edit the MDP file when using octanol? Arguably the cleaner approach is to not include `-DFLEXIBLE`.

Raise an issue in GW to allow passing the maxwarn flag in the EM function.

[2021-07-22 19:03] orbeckst commented on #111
It's not worth our time to make this work for 4.6.5 (and 5?) — I am closing with a won't fix. The XFAIL test references this issue.

[2021-07-22 19:03] #111 closed

[2021-07-22 23:37] VOD555 commented on #152
`--SI` and `--no-SI` share the same variable `SI` which is the input for the solvation free energy calculation function. When using `--SI`, `SI` is set to be `True`, and when using `--no-SI`, `SI` is set to be `False`. I'll use another variable `noSI` for `--no-SI`.
These changes will be in #150

[2021-07-23 00:15] VOD555 commented on #84
We need to replace `optparse` with 'argparse' in the scripts.
`mdpow-solvationenergy`, `mdpow-pow` and `mdpow-pcw` have been changed to use `argparse`.
We still need to do the same things in the others.

[2021-07-23 01:02] orbeckst opened #165 "user versioneer for version information"
We are using versioneer for numkit and GromacsWrapper, why not also for MDPOW?

[2021-07-23 02:15] #162 closed

[2021-07-23 06:50] #147 closed

[2021-07-23 09:35] orbeckst commented on #152
FIxed in PR #150

[2021-07-23 09:35] #152 closed

[2021-07-23 09:37] orbeckst commented on #85
Moved to later milestone... we survived with this bug for the last 4 years so fixing it cannot be _that_ urgent.

[2021-07-23 09:51] orbeckst commented on #66
completed in PR #160

[2021-07-23 09:51] #66 closed

[2021-07-23 22:13] iorga commented on #85
@orbeckst Given that we generally use MDPOW for simulating neutral compounds, this problem should not matter. But we have never said explicitely that MDPOW handles only neutral compounds, so in the end this issue needs to be fixed at some point.

[2021-07-24 04:31] orbeckst commented on #85
The way I see it, as soon as we document it, we don't have to implement it. I'd rather look at it the opposite way than you: we never promised that it would work so this issue here is an enhancement suggestion and not a bug. Maybe I can squeeze a doc edit into PR #167 .

[2021-07-25 04:26] #143 closed

[2021-07-25 04:26] #165 closed

[2021-07-25 04:41] orbeckst commented on #153
Fixed in PR #167 .

see https://mdpow.readthedocs.io/en/latest/

[2021-07-25 04:41] #153 closed

[2021-07-25 18:31] orbeckst commented on #85
But yes, we should fix the ion names.

That also means that someone needs to write a test for it etc.

We leave the issue open but it’s low priority for me. If anyone sees this as a pressing problem please comment.

[2021-07-27 20:17] ALescoulie opened #168 "Adding Analysis Module"
# MDPOW-Analysis Module

## Features

I would like to add an analysis module to MDPOW that takes the files in a FEP directory and runs different analysis functions in a modular framework, and saves results to csv files to an ANALYSIS directory in the molecule directory. The eventual goal being to use the data in a decision tree to predict convergence.

The goal is setting this up in such a way tha

[2021-07-28 20:04] VOD555 commented on #168
We also can separate the analysis input keywords from the fep section of the `.yml` file, and add a new `analysis` section.

[2021-07-28 22:02] orbeckst commented on #168
I would not have `run_analysis` perform multiple analysis tasks. Keep it simple along the lines of
[code]
Then you can derive your different analyses from `EnsembleAnalysis`.

This will then easily allow you to run multiple EnsembleAnalysis over different molecules or analysis tasks. Think of coding building blocks instead of complete solutions.

[2021-07-28 22:11] orbeckst commented on #168
To add: think of the hierarchy of simulations. I would consider the "ensemble" the smallest set of simulations that is necessary to calculate a solvation free energy, i.e., for a given solvent, all the Coulomb and VDW windows. That's the base unit to work with for an ensemble. So you need to first write analysis code to analyze a single simulation (ideally, code based on [MDAnalysis.analysis.base.

[2021-07-28 22:15] orbeckst commented on #168
Finally: If you start with small units then it's a lot easier to write tests for them. In particular, I'd start with one (or two) AnalysisBase-based analysis class(es) because it/they will be immediately useful and can be easily tested.

Don't slow yourself down too much with thinking about tests – get to a prototype quickly.

[2021-07-28 22:37] orbeckst commented on #168
It would be nice if the following would eventually work:
[code]

The `EnsembleAnalysis` would assemble all the individual time series (stored as CVS files with each simulation in the analysis directory) as a [tidy](https://tidyr.tidyverse.org/articles/tidy-data.html) (but huge) [pandas.DataFrame](https://pandas.pydata.org/) . It is then easy to analyze the data in many different ways and also conc

[2021-07-29 00:27] orbeckst commented on #112
This is a "nice to have" – it's not required for 0.7.0.

[2021-07-30 00:58] orbeckst opened #171 "replace constants in __init__ with scipy.constants"
mdpow still uses some constants like kBOLTZ and N_AVOGADRO. Replace with using scipy.constants

[2021-07-30 01:26] orbeckst commented on #84
Accidentally closed with a premature merge.

[2021-07-30 01:31] orbeckst opened #172 "test the mdpow-* scripts"
The `scripts/mdpow-*` scripts are not tested at all.

- [ ] run scripts with simple input and _short_ run time in at least the lowest and highest python-version
- [ ] test if the script runs or fails and if it produces the expected output

I don't know what a good testing framework would be, or if we just write a bunch of bash or python scripts.

[2021-07-30 01:39] #84 closed

[2021-07-31 20:09] orbeckst opened #175 "adapt FEP tests to not trigger GROMACS exclusion/rlist limitation"
As seen in PR #173 (https://github.com/Becksteinlab/MDPOW/pull/173#issuecomment-889677020) we can occasionally fail a FEP MD test with GROMACS 2021 because the solute may extend beyond rlist. Tests should be written (larger rlist) to always pass.

[2021-08-02 07:53] orbeckst commented on #105
released

[2021-08-02 07:53] #105 closed

[2021-08-03 06:08] ALescoulie opened #177 "Remove Python 2 Support"
Now that we have #105 0.7.0 with python 2.7 and 3.x support we can safely remove python 2 support from MDPOW.

[2021-08-04 02:28] orbeckst opened #180 "restrict alchemlyb to < 0.5.0 for Python 2"
Current CI fails because Python 2 tries to install alchemlyb 0.5.0 which requires pandas >= 1.2 which is not available for Python 2.

Change setup.py to require `alchemlyb<0.5.0` for Python 2.

[2021-08-04 02:37] orbeckst commented on #180
This failure came to light thanks to the scheduled CI tests – that's what they're supposed to do: find problems when dependencies change.

[2021-08-04 02:39] orbeckst opened #181 "release 0.7.1 with bug fixes"
Make a release (possibly from master) with any urgent bug fixes.
- [x] 0.7.1 PRs
- [x] pypi
- [x] GitHub

[2021-08-04 16:20] #180 closed

[2021-08-04 18:45] VOD555 opened #183 "Remove deprecated mdpow-ghyd"
mdpow-ghyd should be deprecated in 0.7, and we need to remove it in 0.8.

[2021-08-04 22:14] iorga commented on #181
I'm fine with it.

[2021-08-04 23:13] orbeckst opened #184 "mdpow-solvation fails for benzene example"
I am running the benzene example and now want to analyze the data:

[code]

[2021-08-04 23:23] orbeckst commented on #184
This bug is due to GromacsWrapper#210.

I'll add a workaround in MDPOW for now.

[2021-08-05 01:24] orbeckst commented on #181
PR #185 is crucial... because it's pretty broken at the moment :-p.

[2021-08-05 06:12] #184 closed

[2021-08-06 00:19] #181 closed

[2021-08-17 10:03] #177 closed

[2021-08-17 21:06] orbeckst commented on #106
In the meantime, we're updating pybol where necessary and wait for 0.3.0 https://github.com/ianmkenney/PyBOL/issues/25

[2021-09-09 16:45] ALescoulie commented on #168
### Analysis Modules
Now that the Ensemble objects in PR #179 are just about finished, I thought I'd come back to this issue to layout next steps. To start with I'd like to implement three analyses.
- [ ] Dihedral
- [ ] Hydrogen Bonds
- [ ] Solivation Shell

For the analysis modules some things need to be worked out.
- [ ] DataFrame structure for storing results
- [ ] Method for inputing parameter

[2021-09-09 16:59] orbeckst commented on #168
For data structures I recommend [tidy data](https://tidyr.tidyverse.org/articles/tidy-data.html). One observation - one row. If you have N columns then N-1 columns are "tags" such as solvent, interaction, lambda, timestep, molecule, dihedral, .... and one column is the actual observation. This makes it easy to aggregate data using pandas groupby and similar tricks or directly plot with seaborn's c

[2021-09-09 17:02] orbeckst commented on #168
For hydrogen bonds I would just try to wrap the MDAnalysis analysis class. Look at the datastructure produced from the HydrogenBondAnalysis class and see if you want to keep it like it is or make it part of a tidy dataframe.

As a guiding principle you want to do as little as data gymnastics as possible for analysis, i.e., avoid having custom data wrangling code like "average_by_lambdas" which the

[2021-09-09 17:06] orbeckst commented on #168
Initially, don't worry about specifying analysis parameters. Focus on the building blocks, which take parameters as args or kwargs and nothing else.

Once we work on the user interface (in the form of the CLI commands) then I would go with @VOD555 's suggestion  https://github.com/Becksteinlab/MDPOW/issues/168#issuecomment-888585347 to add a *analysis* section to the `runinput.yml`.

[2021-09-09 17:23] #168 closed

[2021-09-09 17:48] orbeckst opened #188 "fix ensemble docs for add_system() example"
The example
https://github.com/Becksteinlab/MDPOW/blob/0b969cf462f4dcf1742d46b3e1322975ab081a08/mdpow/analysis/ensemble.py#L71 contains wrong kwargs: only a Universe can be used with [add_system](https://mdpow.readthedocs.io/en/latest/analysis/ensemble.html#mdpow.analysis.ensemble.Ensemble.add_system)

[2021-09-09 17:53] orbeckst commented on #168
@ALescoulie I suggest you open a new issue for new analysis modules by transferring your https://github.com/Becksteinlab/MDPOW/issues/168#issuecomment-916264923 .  I would then open individual issues for the analysis tools that you want to build. Keep things modular and separate.

Although I didn't intent to close this issue with PR #179, it make sense. I re-read the issue and PR #179 addresses pr

[2021-09-09 18:56] ALescoulie opened #190 "Adding Dihedral Analysis"
# MDPOW.analysis.dihedral

The dihedral analysis script will be build using `EnsembleAnalysis` to get the dihedrals for given atom groups. My plan is for it to take an `EnsembleAtomGroup` with four atoms selected from each system, then return the dihedrals in a DataFrame

- [x] Implement `DihdralAnalysis` class with EnsembleAnalysis
- [x] Develop tests

[2021-09-10 00:41] #188 closed

[2021-09-10 01:10] orbeckst commented on #190
@ALescoulie are you going to do the PR for changing Ensemble before pushing this one?

[2021-09-10 01:47] ALescoulie commented on #190
Yeah, I'll get that one up soon

[2021-09-10 02:13] ALescoulie commented on #190
@orbeckst the fix to `EnsembleAtomGroup.ensemble()` is up on PR #192, with that I'll be less concerned about passing a list of `EnsembleAtomGroups` into `DihedralAnalysis`. Do you want the analysis modules to be added via individual PRs.

[2021-09-10 05:16] orbeckst commented on #190
Yes, make each analysis module a separate PR with a separate issue as this keeps discussion focused. It also helps if one thing turns out to be more complicated than others, then that won't hold up the others.

[2021-09-10 20:26] #183 closed

[2021-09-10 20:30] orbeckst opened #194 "replace bundled tempdir with pytest tmpdir fixture"
Many tests still use [tests/tempdir.py](https://github.com/Becksteinlab/MDPOW/blob/develop/mdpow/tests/tempdir.py). Remove and replace the use with the [pytest tmpdir/tmpfile](https://docs.pytest.org/en/6.2.x/tmpdir.html) fixture.

[2021-09-12 23:56] ALescoulie opened #195 "Solvation Shell Tool"
# mdpow.analysis.solvation

As part of 0.8.0 I want to develop a basic solvation shell calculating utility. I plan to use the `around` argument in `select_atoms` . It should be fairly quick to implement now that I figured out the `DataFrame` structure in #193 for returning results.

[2021-09-13 02:04] #190 closed

[2021-09-13 16:36] ALescoulie opened #197 "Hydrogen Bonding Analysis"
# mdpow.analysis.hbond

The final analysis I would like to implement is quantifying hydrogen bonding between the solute and solvent. I figure this shouldn't be too difficult in MDAnalysis. This will round out the initial three analyses built using the `EnsembleAnalsis` framework.

[2021-09-16 22:25] orbeckst commented on #197
This might need a rewrite of EnsembleAnalysis to directly use a full analysis over a Universe. If so, first raise a separate issue for those changes to the framework and then come back here.

[2021-09-21 02:57] #195 closed

[2021-09-23 21:36] orbeckst commented on #197
Have you figured out how much work it is going to be to add h-bond analysis?

[2021-09-23 21:40] orbeckst commented on #112
@VOD555 do we want this fixed for 0.8.0 ?

[2021-09-24 03:26] ALescoulie commented on #197
I looked at the MDAnalysis docs and think it will not be too much work to implement a H-Bond analysis. I want to try making a decorator  that runs an AnalysisBase subclass i, It would simply require making a few generic methods for saving the results for each ensemble.

[2021-09-24 05:06] ALescoulie commented on #197
I'll have a draft pull request for EnsembleWrapper up hopefully by tonight. I'm writing it as a decorator for AnalysisBase. It does add a new class, but it's fairly rudimentary, just passing data into the original Analysis.

[2021-12-27 18:25] orbeckst opened #200 "release 0.8.0 with EnsembleAnalysis and Python 3 only"
Make the 0.8.0 release with major changes:
* dropped support for Python 2 and <3.6: only Python 3.7--3.9 are supported (#177)
* new EnsembleAnalysis #168 with example SolvationAnalysis #195 and DihedralAnalysis #193 (**add to CHANGELOG!**)

TODO (see [ReleaseGuide](https://github.com/Becksteinlab/MDPOW/wiki/Release-Guide))
- [x] finalize CHANGELOG
- [x] merge into master
- [x] tag
- [x] GitHub rel

[2022-01-03 20:52] orbeckst commented on #200
might as well make it support Py 3.10...

[2022-01-03 23:10] orbeckst commented on #200
Can't easily test Py 3.10 until all our dependencies support it (namely, MDAnalysis conda packages MDAnalysis/mdanalysis#3457 ) so we'll make a patch release for 3.10.

[2022-01-03 23:13] orbeckst opened #202 "support Python 3.10"
Officially support Python 3.10.

MDPOW almost certainly _works_ with Python 3.10 but the tests require conda packages of dependencies (namely, MDAnalysis MDAnalysis/mdanalysis#3457 ) to be available for 3.10, too.

We can make a patch-level release once Python 3.10 is officially supported.

See #200 for notes.

[2022-01-03 23:16] #33 closed

[2022-01-03 23:37] orbeckst commented on #200
Created announcement https://github.com/Becksteinlab/MDPOW/discussions/203

[2022-01-03 23:38] #200 closed

[2022-01-04 17:47] orbeckst opened #204 "merge master and develop into main"
The master/develop branch model does not really reflect how we develop so we want to just have a single main branch that "always works". We then cut releases directly from main.

- [ ] merge master and develop
- [ ] rename to main
- [ ] change default branch on GitHub to main
- [ ] change branch on RTD to main

[2022-04-01 05:27] EliasCoba commented on #112
Hello, i'm a new user of MDPow, also new in GitHub. I'm using the mdpow scripts in YAML format and the OPLS ff, I would like to use SPC/E as water model with OPLS calculation, but when I use the keyword as: **_watermodel: "spce"_**, in the simulations, topology is always based in tip4p, there is something that i'm doing incorrect?

[2022-04-01 06:30] iorga commented on #112
Hello @EliasCoba,

Thank you for using MDPOW. As shown in the template `runinput.yml` file (https://github.com/Becksteinlab/MDPOW/blob/develop/mdpow/templates/runinput.yml), you should use "solventmodel: spce". "watermodel" is the old syntax, which is now deprecated, and probably is not functional anymore.

Please also tell us where did you find this syntax in the documentation, so we can correct

[2022-04-01 18:23] EliasCoba commented on #112
Thank you for your advice @iorga,

I employed the template runinput.yml and it works perfect. The first yml file, I got it from https://mdpow.readthedocs.io/en/latest/init.html, in the section "[2.3. Tutorial: Using the mdpow scripts to compute log POW of benzene](https://mdpow.readthedocs.io/en/latest/init.html#tutorial-using-the-mdpow-scripts-to-compute-logpow-of-benzene)", there is an hyperlink

[2022-04-01 23:08] orbeckst commented on #112
@EliasCoba could you please use https://github.com/Becksteinlab/MDPOW/discussions for general questions that are not specific to an existing issue? (I'm sorry, we haven't made this clear anywhere yet.)

[2022-04-01 23:10] orbeckst opened #205 "update docs and README to use GitHub Discussions for questions"
For participation (questions etc) that are not directly related to issues we want to encourage the use of the https://github.com/Becksteinlab/MDPOW/discussions forum.

Update/add *participation* section in
- [ ] README
- [ ] docs

[2022-04-01 23:11] orbeckst commented on #112
Thank you for pointing out the outdated example file!!

[2022-04-01 23:14] orbeckst opened #206 "update example runinput.yml file from docs"
[EliasCoba](https://github.com/EliasCoba)  reports that the runinput.yml  from https://mdpow.readthedocs.io/en/latest/init.html, in the section "[2.3. Tutorial: Using the mdpow scripts to compute log POW of benzene](https://mdpow.readthedocs.io/en/latest/init.html#tutorial-using-the-mdpow-scripts-to-compute-logpow-of-benzene)", there is an hyperlink to a benzene.yml file using watermodel keyword.

[2022-04-02 07:42] EliasCoba commented on #112
Thanks for the clarification @orbeckst, I will create a new discussion in that section.

[2022-04-02 21:45] iorga commented on #112
@EliasCoba This might be possible, but it requires some work. The force field parameters from the GROMACS xxxx.ff folders are important, and should be imported in MDPOW, and also the water models. Then the specific options for Gromos should be added to different scripts, choice of the right water model by default, etc. Please open a discussion for this topic in the discussions forum if you want to

[2022-06-22 23:21] VOD555 opened #209 "Add documentation for settings in the yml file"
We need documentation for the runinput.yml file with all keys explained.

[2022-06-22 23:25] orbeckst commented on #206
Instead of shipping the yml file with the docs, we should link it to the raw file on GitHub under the appropriate release tag, eg https://github.com/Becksteinlab/MDPOW/raw/release-0.8.0/doc/examples/benzene.yml (and the file in doc/example should be updated to contain everything that https://github.com/Becksteinlab/MDPOW/blob/release-0.8.0/mdpow/templates/runinput.yml has)

[2022-07-01 19:00] orbeckst commented on #202
MDA 2.2 supports 3.10 so we can move ahead.

[2022-08-18 17:41] cadeduckworth opened #212 "Ensemble Group Identity Verification Issue"
There is an issue with determining if separate ensemble groups are of the same ensemble identity. In trying to run DihedralAnalysis() for multiple ensemble groups from the same ensemble, an error was returned suggesting that the ensemble groups were from different ensembles. It was verified that all ensemble groups used as input were of the same identity, and all should have been capable of runnin

[2022-08-19 02:47] #212 closed

[2022-08-19 03:00] orbeckst opened #214 "DihedralAnalysis test_results_recursive2 fails most of the time"
The test for two dihedrals in DihedralAnalysis https://github.com/Becksteinlab/MDPOW/blob/2092cfd3f1cb006b38d01ec722dd2040f221a5c4/mdpow/tests/test_dihedral.py#L66-L83 started failing a few months ago with output like
[code]
See, for instance, https://github.com/Becksteinlab/MDPOW/runs/7905279813?check_suite_focus=true#step:10:160 and https://github.com/Becksteinlab/MDPOW/pull/213#issuecomment-121

[2022-08-19 03:01] orbeckst commented on #214
@ALescoulie do you have _any_ idea what the issue could be here?

[2022-08-19 15:48] orbeckst commented on #214
Note that the assertions
[code]
should be switched around so that the reference values are in the second position: `assert_almost_equal(ACTUAL, DESIRED)`, which make the error diagnostics clearer.

Going forward, we could probably just use `assery pytest.approx(ACTUAL)  == DESIRED` for single float comparisons.

[2022-09-08 18:03] orbeckst opened #215 "Does Dihedral analysis use dimensions from separate universes?"
It looks as if DihedralAnalysis takes a short cut and only uses the dimensions of the first ensemble member:
https://github.com/Becksteinlab/MDPOW/blob/2092cfd3f1cb006b38d01ec722dd2040f221a5c4/mdpow/analysis/dihedral.py#L102-L103

This can lead to **wrong results**. Instead, the calculations need to be done for each universe separately.

[2022-09-08 18:04] orbeckst commented on #215
@ALescoulie can you please explain what's happening in DihedralAnalysis — did I misunderstand how it works?

[2022-09-08 21:27] ALescoulie commented on #215
@orbeckst In `_single_frame` it's looking at stuff from a single universe, I just split in into 4 `EnsembleAtomGroup`s. At the beginning `_reorg_groups` takes the given dihedral selections and makes 4 `EnsembleAtomGroup`s each just containing the one atoms of each dihedral in the inputted dihedrals. This done for efficiency (I think I found that it was slower in my report) since we could do the di

[2022-09-08 22:00] orbeckst commented on #215
Thank you for the explanation. I didn't understand how the current universe is selected. This all makes more sense now.

(Incidentally, you had actually fixed the box in #198 ).

[2022-09-08 22:00] #215 closed

[2022-09-08 22:28] orbeckst commented on #197
@cadeduckworth here's the issue for adding H-bond analysis, in case you want to have a go.

Perhaps @ALescoulie could help with reviewing once you get a PR up?

[2022-09-08 22:53] cadeduckworth commented on #197
Yes that sounds great! I am reading through the MDAnalysis docs now. There is an 'autocorrelation' module for hydrogen bond calculations that may also be of use.

[2022-09-09 02:21] cadeduckworth commented on #197
After playing around with it, it appears that the most useful information can be obtained by specifying the solute of interest as an acceptor for one run, specifying the solute as a donor for another, generating data frames from each of these two (results)arrays, and then concatenating the data frames. So far it seems like this is the quickest way to get information only pertaining to H-bond accep

[2022-09-09 18:49] orbeckst commented on #197
You should not need to do two runs. If you define donors and acceptors appropriately then you should only need one run and then you can sort the resulting list of H-bonds appropriately. Generally, we really want to avoid to analyze trajectories too often and rather work with generated data.

[2022-09-09 18:51] orbeckst commented on #197
Also HydrogenBondAnalysis has the `between=True` keyword to only look for inter-group H-bonds https://userguide.mdanalysis.org/stable/examples/analysis/hydrogen_bonds/hbonds-selections.html#Hydrogen-bonds-between-specific-groups

See also tutorial in https://userguide.mdanalysis.org/stable/examples/analysis/hydrogen_bonds/hbonds.html

[2022-09-12 17:02] ALescoulie commented on #214
I opened it in a debugger and can see that it is consistently failing that specific test at least on MacOs python 3.9, I'm not sure why thought. I could just get new recursion testing values since 1400 is pretty high

[2022-09-12 19:28] orbeckst commented on #214
How did you calculate the reference value of 1490?

[2022-09-12 22:26] ALescoulie commented on #214
I don't remember, I think I just ran circvar on it, but not sure, could just have been a mistake.

[2022-09-13 23:01] orbeckst commented on #214
Can you recalculate it with the latest versions of numpy and python? Obviously, the reference value is important.

[2022-09-19 19:06] ALescoulie commented on #214
i'll do that, and see if it works on the CI

[2022-11-17 16:06] #214 closed

[2022-11-17 16:24] orbeckst opened #219 "improve codecov upload reliability"
Use codecov token for uploader to decrease the chances of upload failures.

[2022-11-17 19:21] #202 closed

[2022-11-17 19:21] #219 closed

[2022-11-28 18:36] orbeckst opened #222 "add toluene as solvent"
For SAMPL9, we want to evaluate solvation free energies in [toluene](https://pubchem.ncbi.nlm.nih.gov/compound/1140).

![Toluene_300](https://user-images.githubusercontent.com/237980/204353673-4291f2e1-df09-4f90-aadb-0ca6ae3c266b.png)

- [x] add force field files AMBER GAFF
- [ ] add force field files CGENFF
- [x] add force field files OPLS-AA (mol2ff)
- [ ] integrate in the solvent selections
- [